* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0px auto;
    padding: 10px 20px;
    box-shadow: 0px 1px 7px 0px #888888;
    position: sticky;
}

.row {
    display: flex;
    align-items: center;
}

.m-logo {
    width: 50px;
}

.head-menu {
    list-style: none;
    display: contents;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 0px 15px;
}

.search-i {
    position: relative;
    left: 25px;
    color: gray;
}

.search-bar {
    width: 30%;
    padding: 0px 10px;
}

.input-s {
    width: 90%;
    padding: 8px 30px;
    border: none;
    background-color: #eeeeee;
    border-radius: 3px;
}

.top-icon {
    padding: 0px 10px;
    text-align: center;
}

/* drop menu */


.drop-menu {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 4px;
    margin-top: 28px;
    position: absolute;
    display: none;
}

.drop-bar:hover .drop-menu{
    display: block;
    animation-name: slideUp;
    animation-duration: 0.3s;
  } 
.active:hover{
    border-bottom: 4px solid #c73c3c;
    padding-bottom: 24px;
    
}

.drop-top{
    display: flex;
    align-items: flex-start;
}
.drop-col {
    line-height: 1.7;
    padding-right: 25px;
}

.drop-heading {
    color: #c73c3c;
    font-size: 15px;
    font-weight: 600;
}

.drop-ul {
    list-style: none;
}

.drop-link {
    color: gray;
    text-decoration: none;
}

.drop-link:hover {
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.line {
    width: 90%;
    text-align: center;
    height: 2px;
    background-color: gray;
    opacity: 0.3;
    margin: 20px 0px;
}


@keyframes slideUp{
    from{
        transform: translateY(15px);
        opacity: 0.3;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* main section */
.section-li{
  padding-right: 20px;
}
.section-var{
  color: gray;
  padding: 3px 5px;

}
.section-var:hover{
  background-color: #d9d7d7;
  border-radius: 8px;
  }

  .sort-input{
    padding: 2px 5px;
  }
.product-head{
  margin: 20px auto;
}
.breadcrumb{
  display: flex;
  list-style: none;
  padding-bottom: 20px;
}
.breadcrumb-item{
  color: gray;
}
.breadcrumb-item::after{
  content: '/';
  padding: 0px 5px;
}
.active{
  color: black !important;
  font-weight: 600;
}

.active::after{
  content: '' !important;
}

.nav{
  width: 20%;
}
.side-bar{
  line-height: 1.7;
  padding: 10px;
}
.container-main{
 width: 80%;
}
.space-between{
  justify-content: space-between;
  display: flex;
  padding: 50px 10px;
}
.card{
  line-height: 1.6;
}
.card-head{
  position: relative;
  padding-bottom: 10px;
}
.product-img{
  width: 200px;
  height: 300px;
}
.review{
  position: absolute;
  background-color: rgb(227, 221, 221);
  left: 12px;
  bottom: 25px;
  padding: 1px 5px;
  border-radius: 5px;
  opacity: .8;
}
.fa-star{
  color: green;
  border-right: 2px solid black;
  padding-right: 5px;
}
.product-text{
  color: gray;
}
.w-price{
  padding: 5px 5px;
  text-decoration: line-through;
  color: gray;
}
.discount{
  color: #c73c3c;
}
/* footer */

#footerContainer {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    margin: auto;
  }
  .container-f{
    line-height: 1.5;
    margin: 0px auto;
    padding: 10px 20px;
  }
  .shopLinks {
    width: 20%;
    display: inline-block;
    padding-right: 20px;
  }
.InfoTitle {
    font-weight: 500;
    margin: 25px 0px;
  }
.InfoTitle a {
    text-decoration: none;
    color: #282c3f;
  }
  .footer-li a {
    text-decoration: none;
    color: gray;
  }

  .footer-ul {
    list-style: none;
  }

  .customerPolicies{
    width: 20%;
  }

  .appExperience{
    width: 35%;
  }

  .downLinkContainer{
    display: flex;
    width: 100%;
  }
  .androidDownLink{
    padding-right: 20px;
  }
  .appExperience a{
    text-decoration: none;
    padding-right: 10px;
  }
  .promises{
    margin: 25px 0px;
    width: 25%;
  }
  .original{
    padding-right: 12px;
  }
  hr{
    border: 1px;
    height: 1px;
    background-color: #eaeaec;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .Searchlinks a{
    text-decoration: none;
    color: gray;
    border-right: 1.5px solid gray;
    padding: 0px 5px;
  }

  .InfoSection{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    color: gray;
  }
  .contact a{
    text-decoration: none;
    color: blue;
    font-weight: 600;
  }

  .gContainer p{
    color: gray;
    padding-bottom: 25px;
  }
  .gContainer ul{
    list-style: decimal;
    color: gray;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .gContainer ul a{
    color: black;
    font-weight: 600;
  }
  