.grid{
    display:flex;
    justify-content:space-between;
   z align-items: center;
}
ul{
    list-style: none;
    padding-left: 0;
}
li{
    display:inline-block;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color:black;

}

.width{
    width:100%;
}
body{
    margin:0;
}
.pad{
    padding: 10px;
    background: rgb(2, 52, 105);
    color: white!important;
}
.text-center{
    text-align: center;
}

i{
    color:blue; 
}
.img-width{
    width: 25%;
}


nav{
     background-color: rgb(40 15 96);
     color: #fff;
     padding: 5px;
     position:sticky;
     top:0;
}
.t-color{
    color:white;
}
.container{
        width: 90%;
        margin: 0 auto;
}
.width-center{
    width: 100%;
    margin-bottom: 5px;

}
.bg-img{
    background-image: url(./images/Rainbow-hospital-gallery-2.jpeg);
    background-attachment: fixed;

}
.hero-content{
    padding: 154px 0px;
    text-align: center;
    color: white;
}
.hero-content > h1{
    font-size: 39px;
    letter-spacing: 11px;
}
.layer{
    background: #00000069;
}
.btn-color{
    background-color: #337ab7;
    padding: 10px 12px;
    border-radius: 4px;
    color: #fff;
}
ul{
    margin-top: 30px;
}
article{
    margin-top: 80px;
}
.text-center{
    text-align: center;
}
.font{
    font-size: 15px;
}

.img-height{
    height: 500px!important;
}
.d-block{
    display:block;
    margin-top: 10px;
}
.treat-img{
    height: 231px;
    width: 100%;
    object-fit: cover;
}    
.treatment{
    padding: 20px;
    margin: 10px;
    background: rgb(7, 73, 133);
    color:#fff;
    
}
.align-top{
    align-items:flex-start !important;
}
.team-img{
    width: 61%;
    height: 231px;
    object-fit: cover;
    object-position: top;
}
.treatment-1{
    background: rgb(7, 73, 133);

}
.bg-dr {
    background: rgb(128 128 128 / 21%);
}
.pad-10{
    padding: 60px;
}
label{
    display: block;
    font-size:20px;
    margin-right:33%;

}
.bg-form{
    background: rgb(7, 73, 133);
    color: rgb(255 255 255);
}

input{
    width:35%;
    margin-top: 3px;
    padding:10px;
}
.inp-pad{
    padding:10px;
}
.margin-t{
    margin-top: 10px;
}
.footer-menu>li{
    display: block;
    margin-bottom: 10px;
}
