* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
}

.container {
  width: 95%;
  margin: 0px auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-md-3 {
  width: 25%;
  float: left;
}

.col-md-4 {
  width: 33.333%;
  float: left;
  margin-bottom: 22px;
}

.col-md-6 {
  width: 50%;
  float: left;
}

.col-md-9 {
  width: 75%;
  float: left;
}

.white {
  color: white;
}

.d-flex {
  display: flex;
  justify-content: end;
  gap: 20px;
}

header {
  background-color: #3d683a;
  padding: 15px 0px;
}
header a {
  color: white;
}
header input {
  display: none;
}
header .header-hover-list {
  background-color: white;
  padding: 5px;
  line-height: 28px;
  display: none;
  position: absolute;
  top: 35px;
  right: 0px;
  z-index: 99999;
}
header .apply:hover ~ .header-hover-list {
  display: block;
}

nav {
  position: sticky;
  background-color: white;
  z-index: 9999;
  top: 0px;
}
nav .drop-down-academic {
  position: relative;
}
nav .drop-down-academic .academic-hover:hover ~ .academic {
  display: block;
}
nav .drop-down-academic .academic {
  background-color: #fdcf44;
  width: 200px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 26px;
  left: -55px;
  z-index: 9999;
  display: none;
  padding: 0px 0px;
}
nav .drop-down-academic .academic li {
  border-bottom: 2px solid white;
  padding: 5px;
}
nav .drop-down-facilities {
  position: relative;
}
nav .drop-down-facilities .facilities-hover:hover ~ .facilities {
  display: block;
}
nav .drop-down-facilities .facilities {
  background-color: #fdcf44;
  width: 200px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 26px;
  left: -55px;
  z-index: 9999;
  display: none;
  padding: 0px 0px;
}
nav .drop-down-facilities .facilities li {
  border-bottom: 2px solid white;
  padding: 5px;
}
nav .drop-down-mts {
  position: relative;
}
nav .drop-down-mts .mts-hover:hover ~ .mts {
  display: block;
}
nav .drop-down-mts .mts {
  background-color: #fdcf44;
  width: 200px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 26px;
  left: -55px;
  z-index: 9999;
  display: none;
  padding: 0px 0px;
}
nav .drop-down-mts .mts li {
  border-bottom: 2px solid white;
  padding: 5px;
}
nav .drop-down-admission {
  position: relative;
}
nav .drop-down-admission .admission-hover:hover ~ .admission {
  display: block;
}
nav .drop-down-admission .admission {
  background-color: #fdcf44;
  width: 200px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 26px;
  left: -55px;
  z-index: 9999;
  display: none;
  padding: 0px 0px;
}
nav .drop-down-admission .admission li {
  border-bottom: 2px solid white;
  padding: 5px;
}
nav a {
  color: #3d683a;
}
nav ul {
  padding: 50px 0px;
}

.drop-down-about-us {
  position: relative;
}
.drop-down-about-us .abt-hover:hover ~ .about-us {
  display: block;
}
.drop-down-about-us .about-us {
  background-color: #fdcf44;
  width: 200px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 26px;
  left: -55px;
  z-index: 9999;
  display: none;
  padding: 0px 0px;
}
.drop-down-about-us .about-us li {
  border-bottom: 2px solid white;
  padding: 5px;
}

section img {
  width: -webkit-fill-available;
}

article .container {
  width: 80%;
  margin-top: 50px;
}
article .container h1 {
  font-size: 40px;
  padding: 20px 20px 20px 0px;
}
article .container .line {
  width: 100px;
  height: 10px;
  background-color: #3d683a;
  border-radius: 10px;
}
article .container p {
  padding: 20px;
  color: grey;
}
article .container .img-abt {
  background-color: #3d683a;
  position: absolute;
  width: 79%;
  bottom: 0px;
  padding: 10px;
}
article .container .img-abt h4 {
  background-color: #3d683a;
  color: white;
  text-align: center;
}
article .container .data {
  padding: 22px;
  position: relative;
}
article .container img {
  filter: blur(2px);
}

.bg-yellow {
  background-color: #fdcf44;
}
.bg-yellow h3 {
  margin-bottom: 30px;
}

.black {
  color: black;
}

.fs-40 {
  font-size: 40px;
}

footer {
  background-color: #3d683a;
  color: white;
  padding: 10px 0px;
}
footer .container {
  width: 80%;
}
footer .container .row .col-md-6:last-child {
  text-align: end;
}

.admission-enquiry {
  position: fixed;
  top: 50%;
  right: -82px;
}
.admission-enquiry h3 {
  background-color: red;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  padding: 10px;
  transform: rotate(270deg);
}

.mobile-drag-icon {
  display: none;
}

#drag-menu {
  display: none;
}

@media (max-width: 767px) {
  header {
    display: none;
  }
  nav .container .row .mobile-drag-icon {
    display: block;
    position: absolute;
    font-size: 40px;
    right: 26px;
    top: 24px;
  }
  nav .container .row .col-md-9 {
    display: none;
  }
  nav .container .row .col-md-9 ul {
    display: block;
  }
  nav .container .row .col-md-9 ul li ul {
    display: none;
  }
  nav #drag-menu:checked ~ .col-md-9 {
    display: block;
  }
  .col-md-3 {
    width: 100%;
  }
  .col-md-9 {
    width: 100%;
  }
  .col-md-4 {
    width: 100%;
  }
  .col-md-6 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */