*{
    margin:0;
    padding:0;
}
.container{
    width:90%;
    margin:0 auto;
}
.top{
    margin-top: 20px;
}
.row{
    display:flex;
    align-items: center;
}
.items{
    min-width:300px;
}
.col-md-4{
    width:33.333%;
}
.col-md-6{
    width:50%;
}
/* .border{
    border:1px solid gray;
} */
.bg-almond{

    padding-bottom: 80px;
}
.scroll-right{
    position: absolute;
    top: 114px;
    right: 0;
  
}
.scroll-left{
    position: absolute;
    top: 114px;
    left: 0;
}
a i{
    color:black;
}
h4{
    line-height: 1.4;
}
.relative{
    position:relative;
}
