* {margin: 0%;}
.top {
    text-align: center;
}

.form {
    text-align: center;
    border: 2px rgb(59, 57, 57) solid;
    border-radius: 40px;
    width: 30%;
    margin-left: 30%;
    padding: 2%;
}
