.grid{
    display: flex;
    align-items: center;
}
body{
    margin: 0;
}
.col{
    width:100%;
}
ul{
     list-style: none;
    
}
a{
    text-decoration: none;
    color:white;           
}
nav{
    padding-bottom: 10px;
}
li{
    display: inline-block;
    margin-left: 15px;
}
.clr{
     background-color:rgb(0 72 108);
}
.mar{
    border: 1px solid rgb(255 255 255);
    padding: 2px;
    margin: 2px;
}
.alin{
    text-align: right;
}
.bg-img{
    background-image: url(http://hotelregal.in/img/hotel-regal-bus-stand-road-bilaspur-chhattisgarh-hotels-o26fx06.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 80%;
    margin: 0 auto;
   }
   .layer{
    background-color: #000000ab;
}
.wth{
    width:98px;
    margin-left: 20px;
}
.aln{
    text-align: center;

}
.p1{
    color:white;
    letter-spacing: 5px!important;
    font-size: 80px!important;
}
.mgn{
    margin:-20px;
}
.heart{
    color:rgb(234 194 166 / 80%);
}
.p2{
    font-size: 50px;
}
.hw{
    font-size: 35px;
}
.size{
    width: 99%;
    height: 457px;
    padding: 3px;
}

.icon{
    width: 50px;
}
.gap{
    margin-top: 60px;
}
.pdg{
    padding: 10px;
}
.clr{
    color: rgba(48, 120, 237, 0.615);
}
.hgt{
    width: 97%;
    height: 309px;
}
.uli{
    padding-left: 0;
}

.blk{
    display: block;
    margin-left: 0%;
    padding: 10px;
}
.sr{ 
    width: 99%;
    height: 128px;

}
.hrt{
    font-size:20px;
}
.blck{
    background-color: black;
}
.ask{
    color: aliceblue;
}
.bli{
 display: block; 
 padding: 5px;
}

ul{
    padding-left: 0px;
}
.cont{
    font-size: 100px;
    color: aliceblue;
}
.footer-img{
    width: 88px;
    border-radius: 50%;
    background: rgb(139 0 0);
}
.footer-h{
    font: size 43px;;
} 
.contactbg-img{
    background-image: url(./regal.jpg);
    background-size: 100%;
    background-position: 40%;
    background-repeat: no-repeat;
}
.book-btn{
    background: rgb(0 72 108);
    color: rgb(255 255 255);
    padding: 10px;
}
.roombg-img{
    background-image: url(./room.webp);
}