*{
    margin: 0;
    padding: 0;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
:root{
    --color-white:white;
    --color-black:black;
}
nav{
    padding: 20px;
    background: #000;
    color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 1;
}

.col-md-6{
    width: 50%;
    float: left;
}
.menu{
    margin-left: 70px;
}
.logo{
    display:inline-block;
}
li{
    list-style: none;
    display: inline;
    padding: 19px 18px;
}
.color-white{
    color: var(--color-white);
}
li a{
    /* color: white; */
    text-decoration: none;
    padding: 32px 20px;
}
.logo:hover{
    background-color: var(--color-white);
    color: #000;
}
a:hover{
    background: var(--color-white);
    color: #000;
}
.container:hover{
    background: #000;
    color: wheat;
    transform: translateY(-10px);
    transition: 0.5s;
}
.container{
    width: 50%;
    margin: 2rem auto;
    border: 1px solid black;
    border-radius: 6px;
    padding: 50px;
    /* align-items:center; */
    text-align:center;
    position: relative;
}
.container h1{
    text-decoration:underline;
    margin-bottom: 30px;
}
.container a{
    border: 1px solid black;
    position: absolute;
    top:165px;
    left: 305px;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    color:var(--color-white);
    background-color: green;  
}
.side-bar{
    position: fixed;
    top: 110px;
    width: 20%;
    
    padding-bottom: 60px;
}
.about{
    font-size: 20px;
    letter-spacing: 2px;
}
