*{
    margin: 0;
    padding: 0;
    
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
:root{
    --color-white:white;
    --color-black:black;
}
nav{
    padding: 20px;
    background: #000;
    color: aliceblue;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.col-md-6{
    width: 50%;
    float: left;
}
.menu{
    margin-left: 70px;
    border-right:1px solid white;
}
.logo{
    display:inline-block;
}
.menu li{
    list-style: none;
    display: inline;
    padding: 19px 18px;
}
.color-white{
    color: var(--color-white);
}
li a{
    /* color: white; */
    text-decoration: none;
    padding: 32px 20px;
}
.logo:hover{
    background-color: var(--color-white);
    color: #000;
}
/* .menu a:hover{
    background: var(--color-white);
    color: #000;
} */
.container:hover{
    background: #000;
    color: wheat;
    transform: translateY(-10px);
    transition: 0.5s;
}
.container{
    width: 50%;
    margin: 2rem auto;
    border: 1px solid black;
    border-radius: 6px;
    padding: 50px;
    /* align-items:center; */
    text-align:center;
    position: relative;
    box-shadow: 10px 5px 20px black;
}
.container h1{
    text-decoration:underline;
    margin-bottom: 30px;
}
.container a{
    border: 1px solid black;
    position: absolute;
    top:165px;
    left: 305px;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    color:var(--color-white);
    background-color: green;  
}
.side-bar{
    position: fixed;
    top: 110px;
    width: 20%;
    padding-bottom: 60px;
}
.about{
    font-size: 20px;
    letter-spacing: 2px;
}
.about-us{
    background-image:linear-gradient(to right, rgb(47, 20, 2), rgb(157, 138, 138)) ;
    color: aliceblue;
    position: relative;
    padding: 88px 10px;
    margin-top: 9em; 
    height: 80px; 
}
.about-card{
    display: flex;
    /* margin-top: -50px; */
    position: absolute;
    top: -100px;
    
    
}
.about-card .col{
    /* position: absolute; */
    width: 100%;
    border: 1px solid white;
    margin: 10px 50px;
    padding: 58px 54px;
    background: rgb(59, 30, 10);
}
.about-text h1{
    position: absolute;
    left: 35%;
    top: 70%;
    width: 0 auto;
    padding-bottom: 50px;
}
.col{
    width: 100%;
}
.col:hover{
    background: #000;
    color: wheat;
    transform: translateY(-10px);
    transition: 0.5s;

}
.work{
    display: flex;
}
.info{
    /* border: 1px solid black; */
    margin: 30px;
    border-top: 3px solid  rgb(59, 30, 10);
    position: relative;
    
    
}
.info:hover .layer{
    display: block;
}
.img{
    width: 100%;
    height: 70%;
    
    
}
.img:hover{
    background-image: linear-gradient(to right, wheat rgba(175, 175, 204, 0.416)); 
    transform: translateY(10px);
    transition: 0.5s;
    
}
.layer:hover{
    /* background-image: linear-gradient(to right, wheat rgba(175, 175, 204, 0.416));  */
}
.layer{
    height: 70%;
    position: absolute;
    top: 0;
    background: #ffffff00;
    width: 100%;
    backdrop-filter: blur(5px);
    display: none;

}


.nm{
    padding: 10px 30px;
    background: rgb(59, 30, 10);
    color: white;
    margin-top:-4px;
    
    
}
.nm h1 {
    /* padding-left: 30px; */
    text-align: center;
    /* border: 1px solid white; */
}
.nm h3{
    text-align: center;
}
.name{
    border: 1px solid white;
}
.layer .fa-brands{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    border: 1px solid black;
    display: inline-block;
}
