@import './color/color.scss';
@import './text-variables/variables';

* {
    margin: $m-0;
    padding: $p-0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

header {
    position: fixed;
    padding: 5px 45px;
    width: 100%;
    z-index: 20;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 12%);

    .row {
        display: flex;
        align-items: center;

        .m-logo {
            width: 50px;
        }

        .head-menu {
            list-style: none;
            display: contents;

            .active:hover {
                border-bottom: 4px solid #898f4b;
                color: #898f4b;
                padding-bottom: $p-sm;

            }

            .nav-link {
                text-decoration: none;
                font-weight: 600;
            }

            .drop-bar:hover .drop-menu {
                display: block;
                animation-name: slideUp;
                animation-duration: 0.3s;
            }

            .drop-menu {
                z-index: 20;
                box-shadow: 0 5px 20px 5px rgb(0 0 0 / 12%);
                width: 22%;
                text-align: center;
                position: absolute;
                display: none;

                .drop-ul {
                    list-style: none;
                    line-height: 22px;
                }

                .drop-link {
                    text-decoration: none;
                }

                .drop-link:hover {
                    font-weight: 600;
                }

            }

        }
    }

    .grid {
        display: flex;
        justify-content: end;
        width: 30%;
    }
}

.home-text {
    position: absolute;
    top: 210px;
    left: 50px;

    .btn-shop {
        text-decoration: none;
        text-align: center;

    }
}

.home-baner {
    width: 100%;
    height: 580px;
}


.row {
    display: flex;
    width: 100%;

    .col-md-4 {
        width: 33%;

    }

    .col-md-3 {
        width: 25%;

        .product-card {
            box-shadow: 0 5px 20px 5px rgb(0 0 0 / 12%);
            line-height: 25px;
            height: 415px;


            .product-img {
                width: 90%;
            }

            .product-detail {
                line-height: 25px;
                height: 180px;
            }
        }

        .product-card:hover {
            transform: translateY(-10px);
        }

        // .product-card:hover{
        //     transform: translateY(-10px);
        // }

        // .anim-g,
        // .anim-pr,
        // .anim-br,
        // .anim-bl {
        //     position: relative;
        //     border-radius: 10px 10px 50% 50%;
        //     height: 150px;
        // }


        // .anim-g:hover {
        //     background-color: #898f4b;
        // }

        // .anim-pr:hover {
        //     background-color: #684b8f;
        // }

        // .anim-br:hover {
        //     background-color: #8f614b;
        // }

        // .anim-bl:hover {
        //     background-color: #4b668f;
        // }

        .box_hover-g,
        .box_hover-pr,
        .box_hover-br,
        .box_hover-bl,
        .box_hover-lg {
            height: 150px;
            border-radius: 10px 10px 50% 50%;
            animation-delay: 3s;
            animation-duration: 4s;
        }

        .box_hover-g:hover {
            background-color: #898f4b;
        }

        .box_hover-pr:hover {
            background-color: #5c427e;
        }

        .box_hover-br:hover {
            background-color: #8f614b;
        }

        .box_hover-bl:hover {
            background-color: #4b668f;
        }
        .box_hover-lg:hover {
            background-color: #a02727;
        }
    }
}

.col-md-6 {
    width: 50%;

    .block-text {
        line-height: 22px;
    }
}


.order-card {
    max-width: 62rem;
    margin-left: auto;
    margin-right: auto;

    .d-flex {
        display: flex;
        justify-content: center;
        box-shadow: 0 5px 20px 5px rgb(0 0 0 / 12%);
        ;


        .col-md-6 {
            width: 45%;

            .card-img {
                width: 100%;
            }

            .card-img1 {
                height: 450px;
                background-image: url(image/Man-and-woman-in-kitchen-opening-box-of-coffee.webp);
                background-repeat: no-repeat;
                background-size: cover;

            }

            .card-img2 {
                height: 300px;
                background-image: url(image/AB5I1509_NikkiTo-1536x1024.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    .head-section {
        text-align: center;

        .hr {
            margin: auto;
            width: 5%;
            height: 6px;
        }


        .card-title {
            padding-bottom: 50px;
        }
    }

    .row {
        display: flex;

        .col-md-4 {
            width: 33%;

            .product-card {
                box-shadow: 0 5px 20px 5px rgb(0 0 0 / 12%);
                line-height: 25px;

                .product-img {
                    width: 100%;
                    border-radius: 10px 10px 0px 0px;
                }

                .hr {
                    width: 10%;
                    height: 4px;
                }

                .product-detail {
                    line-height: 25px;
                }
            }

            .card-hover:hover {
                animation-delay: 3s;
                animation-duration: 4s;
                transform: translateY(-15px);
                box-shadow: 0 5px 20px 5px rgb(0 0 0 / 12%);
            }
        }
    }
}



.footer_m_list {
    display: flex;
    width: 100%;
    justify-content: center;

    .col_list {
        width: 18%;
        line-height: 45px;

        hr {
            width: 15%;
            height: 5px;
        }

        .afterpay-img {
            width: 90%;
        }

        .footer_li {
            list-style: none;
        }
    }
}

.row {
    display: flex;
    justify-content: space-between;
}