.f-35 {
  font-size: 3.5rem !important;
}

.black {
  color: black;
}

.c-white {
  color: white;
}

.c-yellow {
  color: #bd9401;
}

.view-btn {
  padding: 10px 20px;
  color: white;
  background-color: #bd9401 !important;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

.row {
  align-items: center;
}

.center {
  text-align: center;
}

header, nav, .underline {
  border-bottom: 1px solid white;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2117647059);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
}

.bg-nav {
  background-image: url(images/hero-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-nav .layer {
  background-color: #333333;
  opacity: 0.8;
}
.bg-nav a {
  font-size: 14px !important;
  color: white !important;
}

section .nav-contant h1 {
  font-size: 4.6rem !important;
  padding-top: 9rem;
}

.service-card:hover .img-contant {
  display: block;
  -webkit-animation: flip 2s;
          animation: flip 2s;
  transition: 0.2s;
}

@-webkit-keyframes flip {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flip {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.f-35 {
  font-size: 3.5rem !important;
}

article .page {
  padding: 3rem;
  width: 95%;
  margin-top: 100px;
}
article .img-contant {
  display: none;
  width: 65%;
  padding: 34px;
  position: absolute;
  left: 70px;
  bottom: 5px;
  z-index: 9999999;
}

.bg-mid {
  background-image: url(images/ornament1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img {
  background-image: url(images/about-us-sect.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img .c-layer {
  background-color: #333333;
  opacity: 0.3;
}
.card-img .card-setup {
  margin-top: 100px;
  padding: 18.3rem 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

article .img1 {
  background-image: url(images/appoint1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
}
article .width90 {
  width: 95%;
}
article .discribe h1 {
  padding-top: 257px;
}
article .img-2 {
  background-image: url(images/appoint2.jpg);
}

.appointement-form h1 {
  font-size: 1.3rem;
  padding: 15px 0px;
}
.appointement-form .date input {
  padding: 9px 30px;
}

.time {
  margin-top: 20px;
}

.number {
  margin-top: 20px;
}

.big-btn {
  background-color: #bd9401;
  padding: 7px 59px;
  color: white;
}

section .img-location {
  background-image: url(images/appoi1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 31px 9px;
  padding-top: 223px;
}

footer {
  background-image: url(images/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .nav-link {
  color: white;
}
footer .layyer {
  background-color: #1d1807;
  opacity: 0.8;
}

.start {
  align-items: flex-start;
}/*# sourceMappingURL=style.css.map */