.grid{
    display:flex;
    align-items:center;
}
.w-1{
    width:100%;
}
.gh{
    background-color:#edeff3;
}
.kl{
    list-style-type:none;
    padding-left:0;
}
.hj{
    display:inline-block; margin-right:20px;
}
.vb{text-decoration:none; color:rgb(24, 23, 23); font:23px;
}
.hh{
    width: 80px;
}
.gm{
    background-color: rgb(43, 97, 224);
}
.d{
    color:white;
}
body{
    margin:0                          ;
}
.gv{ 
    background-color:#0091fe;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn{
    display: inline-block;
      
      
        color:white;
        text-align: center;
        text-decoration: none;
       
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
      
   
}
.btn-primary {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
}
.zx{
    width:70%;
}
.m{
    font-size:40px;
}
.r{
    color: #dc3545;
}
.l{
    color: #fff;
}
.shadow-lg {
     box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.j8{
    padding:20px; text-align:center;
}
.h5{
color: #fff; font-size:28px;
}
.v{
color: black;text-align:center;
}
.uz{
width:80px; vertical-align: middle;
}

.sa{
background-color: #343a40; color: #edeff3;
}
.abt{

max-width: 100%;
height: auto;
}
.text-align{
text-align: center;
}
.container{
width: 90%;
margin: 0 auto;
}
.yu{
text-align: center;
}
.mt-69{
margin-top: 69px;
padding: 30px;
}
.align-start{
align-items: start;
}
.ym{
    font-size:25px;
}
.tile{
    padding: 15px; margin:10px;
}
.size{
    font-size:;
}