body{
	margin:0px;
}

header{
	background-color:gray;
	padding:10px;
}

.demo{
	color:green;
}

.grid{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.nav-grid{
	display:flex;
	align-items:center;
}
.width{
	width:100%;
}

ul{
	list-style-type:none;
	padding-left:0px;
}
li{
	display:inline-block;
	margin-right:20px;
}
a{
	text-decoration:none;
	color:white;
}
.color-black{
	color:black;
}
.container{
	width: 90%;
    margin: 0 auto;
}
.btn-pink{
	background-color:#e41370;
	padding: 10px;
	border-radius:4px;
}
.grid{
	display:flex
}
.logo-img{
	width: 82px;
	margin-right:10px;
}
.logo-text{
	font-size: 36px;
}
.h-color{
	color:#E77785;
}
.join-btn{
	padding: 10px 30px;
    background: #E77785;
    color: white;
    border-radius: 4px;
	border:none;
}
.bg-img{
	width:400px;
}
.font{
	font-size:20px;
}
.font-s{
	font-size: 40px;
}
.text-color{
	color:pink
}
.grid{
	display:flex;
	justify-content:space-between;
}
.padding-15{
	padding:15px;
}
.bg-pink {
    background:#FAF6F5;
}
.font-25{
	    font-size: 20px;

}

.tile{
	    background: white;
    margin: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.tile-img{
	border-radius: 20px;
}
.block{
	display:block;
}
.center{
	text-align:center;
}
a{
	text-decoration:none;
	color:black;
	
}
.block{
	display:block;
	margin-bottom:10px;
}
.text-left{
	text-align:left;
}
.text-center{
	text-align:center;
	font-size:30px;
}
.width-img{
	width:100%;
	height:250px;
	object-fit:cover;
	object-position:top;
	border:4px solid #E77785;
}
.font-size{
	font-size:18px;
	text-align:center;
}
.column{
	padding:20px;
	border: 1px solid #D3D3D3;
}

nav{
	position:sticky;
	top:0;
	width:100%;
	background:white;
}