*{
    margin: 0;
    padding: 0;
}
.grid{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header-btn{
    background:#eb4343;
    font-size: 18px;
    padding:20px;
    border-radius: 3px;
    color: #EFF0F4;
    
}h3{
    color: white;
}
.header-btn:hover{
    background:#1a3871;
}
.col{
    width:100%;
}
ul>li{
    display:inline-block;
    color:black;
    border:1px solid right;

} 
.text-right{
    text-align: right;
}
.icon-ul a{
    color: black;
    
}
.unoder-list a{
    color: white;
}
.container{
    width: 88%;
    margin: 0 auto;
}

.up-header{
    padding:10px;
    
}
.down-header{
    color:black;
    padding:20px;
    width:100%;
}

.icon{
    color:#1a3871;
    padding:15px;
    text-decoration: none;
}
nav{
    background-color: #1a3871;
    color:white;
    padding:10px;
}
.top-head{
    background-color: #EFF0F4;
}
.nav-menu > li{
    margin-right: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    margin-top: 10px;
}
.nav-menu > li >a{
    color: white;
    text-decoration: none;
    padding:30px;
}
section{
    background-image: url(./img/slider-4-1.jpg);
    padding:160px 0px;
}
h1{
    font-size:40px;
}
.logo{
    width:100px;
}
.btn{
    padding:10px;
    background-color:skyblue ;
    color:white;
    margin:30px;
    text-decoration: none;
     border-radius: 3px;
}
.btn:hover{
    padding:10px;
    background-color:black;   
}
article{
    margin-top: 30px;
    font-size: 16px;
    line-height:26px;

}

img{
    width:100%
}
.contant{
    margin:10px;
}
.box{
    margin:30px;
}
.box-detail{
 background-color: white;
 padding:15px 10px;
}
.h2{
    text-align: center;
}
.head-block{
    background-color: aqua;
    width: 100%;
    line-height: 50px;
    margin-bottom: 24px;
    padding: 10px;
    padding-bottom: 171px;
}
.align-start{
    align-items:start;
}
.head-block > h1{
    margin-top: 68px;
}
.img-one{
    border-radius: 100%;
    position: relative;
    border-style: none;  
}

.blog-one{
    text-decoration: none;
    margin:10px;
}
.img-big{
    width: 300px;
}
.img-small{
    width: 200px;
    position: absolute;
    right: 40px;
    bottom: 0;
    border: 5px solid white;
}
.grp-img{
    position: relative;
    text-align: center;
}

.blog-content{
    margin: 20px;
}
a{
    text-decoration: none;
    background-color: transparent;
}
.blog-content:hover a{
    text-decoration: none;
    background-color: transparent;
    color:red;
}
.ctn-h2{
    padding:55px 0;
    background-color: #09A0BA;
    text-align: center;
    display: block;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    color:#FFFFFF;
}
.unoder-list li{
    display: block !important;
    padding:5px;
}
.whatshap-img{
    width:40px;
    vertical-align: middle;
    border-style: none;

}
.social-media li{
    display:block !important;
    padding:10px;
    margin-top:10px;
}
footer{
    background:midnightblue;
}
footer ul>a,footer p{
    color:white;
    font-size: 16px;
}
.btn-blue{
    background: #0098F4;
    padding: 15px 40px;
    border-radius: 3px;
    color: white;
}
.btn-dark{
    background:#1a3871;
    padding:15px 40px;
    border-radius:3px;
    color:white;
}
.btn-black{
    background-color: darkslategrey;
    padding:15px 40px;
    border-radius:3px;
    color:white;
}

input{
    width:88%;
    padding: 10px 5px;
    border: none;
    color: gray;
    margin-bottom: 13px;
}
form{
    padding: 15px;
    background-color: #f1f2f2;
    border-radius: 15px;
    width: 70%;
    margin: 0 auto;
}
.form-area{
    padding: 30px;
    background-color: bisque;
}
.relate{
    position: relative;
}
.form-area{
    position: absolute;
    top:260px;
}
.mt-3{
    margin-top: 10rem;
}

