*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body {
    background-color:#252734;
    
}
.container{
    width: 80%;
    margin: auto;
}
.row{
    display: flex;  
    margin-top: 50px; 
}
.jc{
    justify-content: space-between;
}
.ai-c{
    align-items: center;
}
.carausel li {
    padding: 7px 0px; 
    font-weight: 700;

}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
a{
    color: #858792;
    font-size: 18px;
    font-family: Poppins,sans-serif;
}
.white{
    color: azure;
}
.bg-grey{
    background-color:#252734;
}
.hire{
    border: 3px solid #2a2c39;
    padding: 25px 60px;
    border-radius: 30px;
}
.header-nav a:hover{
    color: aliceblue;
}

.header-nav a:hover::after{
    opacity: 1;
    

}
.hire:hover{
    background-color:#2a2c39;
    
}
.fs-110{
    font-size:110px;
}
.surname:after{
    position: absolute;
    content: "";
    background: url(../image/hero-name-mark-shape\ hoover\ after.webp);
    width: 100%;
    height: 20px;
    left: 4px;
    bottom: -15px;
    background-repeat: no-repeat;
    
}
span{
    position: relative;
}
.grey{
    color: #858792;
}
p{
    font-size: 17px;
    margin: 62px 0px;
    width: 53%;
    
}
header{
    position: sticky;
    top: 0px;
    background: #252734;
    transition: 0.6sec;
    padding: 10px 0px;
    z-index: 9999;
}
.my-services{
    background-color: #2a2c39;
}
.ml-10{
    margin-left: 10px;
}
.mt-20{
    margin-top: 20px;
}
.fs-60{
    font-size: 60px;
}
.mt-25{
    margin-top: 25px;
}
.p-10{
    padding:5rem 20px 0px 0px;
}
.ui ul li{
    color: #858792;
}
.ui {
    background: #252734;
    padding: 47px;
    width: 270px;
}
.mb-8{
    margin-bottom: 8rem;
}
.ui img{
    margin: 10px 0px;
}
.carausel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160%; 
    flex-shrink: 0; 
    overflow: hidden;
    scroll-behavior: smooth;
}
.parent{
    overflow: auto;
    width: 100%;
    scroll-behavior: smooth;
}
.ui h1 {
    padding: 35px 0px;
    font-weight: 800;
}
.ui i {
    margin-right: 20px;
}
input{
    display: block;
}
label{
    color: #858792;
    font-size: 30px;
}
.w-60{
    width: 60%;
}
.range{
    margin-bottom: 13px;
    height: 80px;
    width: 200%;
    background-color: #2a2c39;
    padding: 2rem;
}
.mt-110{
    margin-top: 60px;
}
input{
    margin-top: 10px;
    width: 100%;
}
.number{
    font-size: 50px;
}
.icon{
    width: 70px;
    height: 70px;
    border: 1px solid #40424d;
    border-radius: 15px;
}
.icon img{
    margin: 22px;
}
.detail{
    color: aliceblue;
}
.number{
    margin-bottom: 15px;
}
.text{
    color: #858792;
}
.data{
    background-color: #282a37;
}
.m-70-0{
    margin: 70px 0px;
}
.col{
    width: 100%;
}
.col a i{
    border-radius: 100%;
    border: 1px solid;
    padding: 20px;
}
.text-align{
    text-align: right;
}
.mt-100{
    margin-top: 100px;
}
.my-project img{
    width: 450px;
    height: 2527px;
    padding: 10px;
}
.text h1{
    padding: 40px 0px 17px 0px;
}
.text{
    margin-bottom: 60px;
}
.fs-185{
    font-size: 185px;
}
.raleigh{
    font-size: 30px;
    margin-top: 29px;
}
.fs-30{
    font-size: 30px;
}
.fs-100{
    font-size: 100px;
}
.bg-lightgrey{
    background-color: #2a2c39;
    padding: 50px;

}
.gap{
    gap: 40px;
}
.h-500{
    height: 500px;
}
.company img{
    padding: 40px;
    border: .2px solid #858792;
}
.gap-65{
    gap: 65px;
}
.company img:hover{ background-color: #252734;
    border: none;
    scale: 1.2;
}
.detail .ani {
    height: 72px;
    overflow-y: auto;

}
.ani::-webkit-scrollbar{
    display: none;
}
.heading{
    margin: 60px 0px;
    text-align: center;
}
.fs-20{
    font-size: 20px;
}
.p-30{
    padding: 30px;
}
.m-40-0{
    margin: 40px 0px ;
}
.date:hover{
    color: azure;
}
.mb-30{
    margin-bottom: 30px;
}
.mail{
    
    height: 63px;
    border-radius: 50px;
    width: 50%;
    margin-right: 29px;
    border: .2px solid #858792;
    padding: 0px 30px;
}
.jc-c{
    justify-content: center;
}
.contact-info i{
    font-size: 15px;
    padding: 19px;
    border: 1px solid;
    border-radius: 100%;
    margin-right: 25px;
}
.contact-info {
    margin: 8rem 0px;
}
.contact-info i:hover{
    background: white;
    color: #252734;
}
.contact-info a{ color: azure;
    font-size: 30px;

}
.gap-0{
    gap: 0px; 
}
.header-nav a:after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(../image/menu-hover-shape.webp);
    background-repeat: no-repeat;
    left: -25px;
    top: -20px;
    opacity: 0;

}
.header-nav li{
    position: relative;
}
.range{
    animation: range 1s 1 ;
}

.square{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    position: relative;
    animation: square 5s infinite linear;
}
.inside-square{
    width: 20px;
    height: 20px;
    background-color:#858792 ;
    position: absolute;
    top: 5px;
    left: 5px;
    animation: inside 5s infinite linear;
    
    
}
@keyframes square {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes  inside{
    from{
        transform: rotate(359deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
.square{
    position: absolute;
    top: 40%;
    left: 80%;

}
.animation > .i-1{
        font-size: 30px;
        animation-name: fan;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: absolute;
        top: 200%;
        left: 10%;
}
@keyframes fan {
    from{
         transform: rotate(0deg);
    }
    to{
         transform: rotate(360deg);
    }
}
.animation .i-2{
    font-size: 30px;
    animation-name: fan;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 645%;
    left: 10%;
}
@keyframes fan {
    from{
         transform: rotate(0deg);
    }
    to{
         transform: rotate(360deg);
    }
}
.detail{
    animation-name: detail;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 2sec;

}



@keyframes detail {
    0%{
        opacity: 0;

    }
    20%{
        opacity: 0.2;
        
    }
    40%{
        opacity: 0.4;
        
    }
    60%{
        opacity: 0.6;
        
    }
    80%{
        opacity: 0.8;
        
    }
    100%{
        opacity: 1.0;
        
    }
}
.q{
    animation: numberred 3s 1 linear;
    animation-delay: 2s;
}
@keyframes numberred{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-5000px);
    }
}