* {
    margin: 0;
}
body {
    background-color: yellow;
}
.sun img{
    position: absolute;
    width: 110px;
    height: 80px;
    top: 0;
    left: 600px;
    animation: sun 2s linear;

}
.road img{
    width: 100%;
    height: 400px;
    position: relative;
}
.car img {
    width: 130px;
    height: 110px;
    position: absolute;
    top: 200px;
    transition: 6s;
    animation: mymove 6s infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}
@keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: 1230px; 
    }

}
.car2 img {
    width: 130px;
    height: 110px;
    position: absolute;
    top: 230px;
    right: 0px;
    transition: 6s;
    animation: mymove2 6s infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}
@keyframes mymove2 {
    from {
        right: 0px;
    }
    to {
        right: 1230px;
    }
}
@keyframes sun {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

