* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  $color-red: red;
  $color-white: white;
  $color-blue: blue;
  $color-l-blue:rgba(0, 0, 255, 0.724);
  $color-l-green: rgba(0, 128, 0, 0.951);
  
  body {
    background-color: rgba(240, 237, 237, 0.334);
  }
  
  .contenour {
    padding: 7px 100px;
  }
  
  .contenour-lg {
    padding: 40px 100px;
  }
  
  .nav-bar {
    position: sticky;
    width: 100%;
    z-index: 999;
    top: 0px;
    background-color: $color-white;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .menu-img {
      width: 7%;
    }
  
    .menu-img img {
      width: 100%;
    }
  
    .menu ul {
      display: flex;
      justify-content: space-around;
      gap: 0 15px;
      list-style-type: none;
    }
  
    .menu a {
      color: black;
      text-decoration: none;
    }
  
  }
  
  .section-01 {
    background-image: url(./img/m.jpg);
    background-size: cover;
  
    .col-md-6 {
      width: 50%;
    }
  
    .sec-01-text h1 {
      font-size: 50px;
    }
  
    .sec-01-text span {
      color: $color-red;
    }
  
    .sec-01-text {
      color: $color-white;
    }
  
  
    .sec-01-img {
      width: 100%;
    }
  
    .sec-01-img img {
      width: 100%;
    }
  
    .col-md-12 {
      // width: 100%;
  
      position: absolute;
    }
  
    .btn-both {
      display: flex;
      position: relative;
      top: 10rem;
      gap: 0 10px;
    }
  
    .btn-both a {
      text-decoration: none;
    }
  
    .btn-1 a {
      padding: 8px 10px;
      // border: 2px solid black;
      border-radius: 5px;
      color: $color-white;
      background-color: $color-red;
    }
  
    .btn-2 a {
      padding: 8px 10px;
      // border: 2px solid black;
      border-radius: 5px;
      color: $color-white;
      background-color: $color-l-blue;
    }
  
    .btn-1 a:hover {
      background-color: rgb(188, 43, 43);
    }
  
    .btn-2 a:hover {
      background-color: #1b68dc;
    }
  }
  
  
  .art-01 {
    background-color: $color-l-blue;
    padding: 15px 60px;
  
    .art-text {
      display: flex;
      align-items: center;
      gap: 0 15px;
      color: $color-white;
  
    }
  
    .art-text h1 {
      font-size: 30px;
    }
  
    .art-text a {
      text-decoration: none;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.806);
      border: 1px solid black;
      border-radius: 4px;
      color: $color-white;
      gap: 0 10px;
    }
  
    .fa-phone {
      padding: 0px 5px;
    }
  }
  
  .sec-2 {
    .logo-text {
      text-align: center;
      padding: 30px 0px 10px 0px;
    }
  
    .logo-card {
      display: flex;
    }
  }
  
  .anim {
    animation: shape 10s linear infinite;
    // animation-duration: 10s;
  }
  
  @keyframes shape {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  
  .animation-img {
    position: relative;
    text-align: end;
    top: 100px;
  
  
  }
  
  .logo-card {
    display: flex;
    justify-content: space-around;
    gap: 0 5rem;
  
    .col-md-3 {
      width: 25%;
    }
  
    .logo-data {
      width: 100%;
      text-align: center;
  
    }
  }
  
  .exp-data {
    display: flex;
    align-items: center;
    background-color: black;
    color: $color-white;
  
    .exp-img {
      width: 100%;
    }
  
    .exp-img img {
      width: 100%;
    }
  
    .globle {
      display: flex;
      gap: 0 30px;
      margin-top: 50px;
      text-align: center;
    }
  }
  
  .card-header {
    text-align: center;
  }
  
  .card-row {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 10px 0px;
  
    .col-md-3 {
      width: 25%;
    }
  
    .card {
      width: 94%;
      border-radius: 10px;
      background-color: rgb(246 240 240 / 46%);
    }
  }
  
  .card,
  h2,
  p,
  a {
    padding: 5px 0px;
  }
  
  .card-1 {
    // border: 1px solid $color-red;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    // text-align: center;
  
  }
  
  .fs-i {
    font-size: 50px;
  }
  
  .card {
    transition-property: border;
    transition-duration: 0.5s;
  }
  
  .card:hover {
    border: 3px solid rgb(255, 0, 0);
  }
  
  .hr-line {
    margin: 30px 0px;
  }
  
  // d-dev-head
  
  .d-dev-head {
    text-align: center;
  }
  
  .d-dev-cont {
    padding-bottom: 8px;
  }
  
  .d-dev-cont h3 {
    padding: 8px;
    background-color: $color-l-blue;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .d-dev-cont p {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
  }
  
  
  .col-md-6 {
    width: 50%;
  }
  
  .d-dev-img img {
    width: 80%;
  }
  
  .m-a-head {
    text-align: center;
  }
  
  .m-a-btn {
    text-align: center;
    display: flex;
    position: absolute;
    gap: 0 10px;
    left: 39%;
  
    .m-a-btn-1 a,
    .m-a-btn-2 a {
      text-decoration: none;
      // border: 1px solid black;
      padding: 10px;
      border-radius: 8px;
    }
  
    .m-a-btn-1 a {
      background-color: $color-l-green;
      color: $color-white;
    }
    .m-a-btn-2 a{
      background-color:  rgb(255, 255, 255);
      color: rgba(0, 0, 0, 0.663);
    }
    .fa-android,
    .fa-apple 
   {
      padding: 0px 10px 0px 5px;
    }
  }
  
  .m-a-btn-2 a:hover{
    background-color:aliceblue;
    color: rgba(0, 0, 0, 0.898);
  }
  // 
  
  .m-a-body-i{
    padding-right: 5px;
    color: $color-l-green;
  }
  .m-a-body-btn {
  margin-top: 8rem;
  
  }
  .m-a-body-btn a{
    text-decoration: none;
    padding: 8px;
    border: 1px solid $color-l-green;
    border-radius: 6px;
    color: $color-l-green;
  }
  
  .m-a-body-btn a:hover{
    background-color: $color-l-green;
    color: $color-white;
  }
  
  // 
  .d-m-img{
    width: 100%;
  }
  .d-m-img img{
    width: 100%;
  }
  .d-m-btn{
    margin-left: 30px;
    width: 16rem;
  }
  
  .d-m-btn a{
    display:block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    background-color: $color-l-blue;
    color: white;
    text-decoration: none;
  }
  .d-m-btn a:hover{
    background-color: #1b68dc;
  }
  .fa-font{
    padding-right: 10px;
  }
  
  // 
  
  .g-d-img{
    width: 100%;
  }
  .g-d-img img{
    width: 100%;
  }