.liststyle {
    list-style-type: none;
}

.ul {
    display: block;

    text-align: center;
}

.background {
    background-color: rgb(20, 20, 20);
}

.liststyle {
    display: inline;

}

.ul li a {
    color: rgb(0, 0, 0);
    margin: 100px 40px 0 100px;
    text-decoration: none;

}

.ul {
    border: solid rgb(214, 214, 214);

    padding: 10px 0 10px 0;
    background-color: rgb(233, 233, 233);
}

.heading1 {
    color: white;
}

.paragraph {
    color: white;
}

.img {
    text-align: center;
    color: white;
}