// Variables
$color-grey:#797979;
$color-green:#A5EAC9;
$color-black:#000000;
$color-white:#ffffff;
$color-skyblue:#17a2b8;
$color-barkblue:#181E44;
$gray-color:#A1A1A1;
$color-skyblue:#17a2b8;

// radius
$radius-large:20px;
$radius-mid:15px;
$radius-sm:10px;
$radius-none:0px;


// for alignment
$align-start:start;
$align-top:top;
$align-base:baseline;
$align-center:center;

// font size
$font-20:20px;
$font-25:25px;
$font-30:30px;
$font-15:15px;
$font-10:10px;

// margin
$m-sm:20px;
$m-lg:30px;
$m-nrml:10px;
$m-mid:15px;
$m-auto:auto;
$m-0:0px;


// padding
$p-sm:20px;
$p-lg:30px;
$p-nrml:10px;
$p-mid:15px;
$p-auto:auto;
$p-0:0px;

// line-height
$lh-sm:20px;
$lh-lg:25px;
$lh-xlg:30px;
$lh-nrml:10px;
$lh-mid:15px;
$lh-auto:auto;
$lh-0:0px;




* {
    margin: $m-0;
    padding: $p-0;
    box-sizing: border-box;
}

body{
    font-size: $font-15;
    line-height: $lh-lg;

    .topbar_up {
        background-color: #EFF0F4;
        border-bottom: 2px solid #E5E5E9;
        display: flex;
        justify-content: space-between;

        .topbar_left_text {
            margin: $m-0;
            color: $color-barkblue;
            font-size: $font-25;
            font-weight: 600;
            padding: $p-nrml 0 $p-nrml 120px;
        }

        .topbar_right_text{
            display: flex;
       
            .social{
                padding-top: $p-mid;
                padding-right: 70px;
       
                .top_icon{
                    text-decoration: none;
                    padding: 5px 10px 5px 0px;
                    color: $color-black;
                    font-size: 25px;
                }
            }

            .topbar_right_last_text{
                background-color: $color-barkblue;
                color: $color-white;
                margin-right: $m-lg;
                font-size: $font-25;
                padding: $p-mid $p-lg $p-mid $p-lg;
            }
        }
    }

    .topbar_down{
        background-color: $color-white;
        display: flex;
        width: 100%;

        .topbar_two_col-4{
            display: flex;
            justify-content: center;
            margin: $m-lg $m-auto;

            .logo_img{
                width: 50px;
                height: 36px;
            }
            .logo_h{
                color: #1d2a7a;
                text-shadow: 1px 1px $gray-color;
            }
            .color_grey{
                color: $gray-color;
                font-size: $font-15;
            }
            .m_no{
                font-size: $font-25;
            }
            .appoint_btn{
                background-color: rgb(255, 70, 79);
                padding: $p-nrml $p-sm;
                color: $color-white;
                font-size: $font-20;
                border-radius: 5px;
            }
            .appoint_btn:hover{
                background-color: #1d2a7a;
                
            }
        }
    }

    .topbar_about{
        background-color: $color-white;
        display: flex;

        .topbar_two_col-4{
            display: flex;
            justify-content: center;
            margin: $m-lg $m-lg;
            width: 30%;

            .logo_img{
                width: 100px;
                height: 60px;
            }
            .logo_h{
                color: #1d2a7a;
                text-shadow: 1px 1px $gray-color;
                font-size: 30px;
                line-height: 30px;
            }
            .color_grey{
                color: $gray-color;
                font-size: $font-20;
            }
        }

        .tipbar_three_menu{
            margin-top: 25px;

            .menu_ul{
                list-style: none;
                display: flex;
                padding-left: 50px;
            
                .menu_li{
                    padding: $p-sm;
                    text-align: center;

                    .menu_a{
                        text-decoration: none;
                        color: $color-black;
                        padding-right: $p-sm;
                        font-weight: 600;
                        font-size: $font-20;
                    }
                    .about_color{
                        color: #eb4343;
                    }
                }
            }
        }

            .menu_call{
                margin-top: 25px;

                .menu_icon{
                    text-decoration: none;

                    .call{
                        display: flex;
                        padding: $p-nrml $p-0;

                        .call_icon{
                            color: red;
                            font-size: 30px;
                            padding-left: 15px;
                            padding-top: 10px;
                            padding-right: 15px;
                            border-left: 1px solid gray;
                        }

                        .call_text{
                            color: black;
                            line-height: 30px;

                            .call-title{
                                font-size: 20px;
                                color: gray;
                            }

                            .call_no{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }                    
        }
    
    .head-about{
        background-image: url(images/imag3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 100%;

        .head_box{
            padding: 100px;

            .back_img{
                font-size: 40px;
                color: white;
                line-height: 40px;
            }

            .head_about_text{
                padding-top: 10px;
                font-size: 25px;
                color: white;

                .text1{
                    color: $color-grey;
                }
            }

        }

    }
    
    .about_one_container{
        background-color: #E5E5E9;
        padding: 100px 200px;

        .about_box_one{
            padding-bottom: 30px;

            .about_one_title{
                font-size: 35px;
                padding-bottom: 25px;
            }
            .about_one_text{
                color: $color-grey;
                font-size: $font-20;
                line-height: $lh-xlg;
            }
        }

        .about_box_two{
            display: flex;
            width: 100%;

            .box_two_left{
                width: 70%;

                .left_text{
                    font-size: 25px;
                    padding-bottom: 20px;
                    line-height: 30px;
                
                }

                .check_p{
                    color: gray;
                    font-size: 20px;
                    padding-bottom: 10px;

                    .fa-check{
                        padding-right: 10px;
                    }
                }
            }

            .box_two_right{
                width: 30%;

                .right_img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
    

    .about_two{
        background-image: url(images/sugery.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        height: 500px;

        .about_two_box{
            position: relative;
            padding: 100px 200px;
            display: flex;
            width: 100%;
            background-color: #142dd1;
            opacity: .6;
            height: inherit;

            .about_two_img{
                width: 30%;
                text-align: center;
                padding-top: 30px;

                .dr_photo{
                    width: 280px;
                    border-radius: 100%;
                    position: absolute;
                }
            }

            .about_two_text{
                padding-left: 120px;
                width: 60%;
                padding-top: 50px;

                .two_text_head{
                    font-size: $font-25;
                    color: $color-white;
                }

                .two_text_title{
                    color: $color-white;
                    font-size: 35px;
                    font-weight: 700;
                    margin-top: $m-nrml;
                    margin-bottom: $m-lg;
                }

                .two_text{
                    color: $color-white;
                    font-size: $font-20;
                    line-height: $lh-xlg;
                    opacity: .5;
                    padding-bottom: $p-mid;
                }
            }
        }
    }

    .about_three{

        .three_container{
            display: flex;
            width: 100%;
            padding: 100px 200px;

            .about_three_left{
                width: 50%;

                .about_three_text{
                    padding-bottom: 70px;
                    padding-top: 50px;

                    .about_three-title{
                        font-size: 32px;
                        font-weight: 600;
                        margin-bottom: 25px;
                    }
                    .three_text{
                        color: #797979;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
            .about_three_right{
                width: 50%;

                .right_img{
                    text-align: center;

                    .cabin_img{
                        width: 450px;
                    }
                }
            }
        }
    }

    .service_container{
        padding: 50px 100px;

        .service_head{
            padding: 50px 0;
            line-height: 30px;

            .service_title{
                font-size: $font-30;
                font-weight: 600;
                padding-bottom: 20px;
            }
            .service_text{
                font-size: 18px;
                color: $color-grey;
            }
        }

        .services_main{
            display: flex;
            flex-wrap: wrap;

            .service_box{
                width: 20%;
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;
                margin-top: 20px;

                .service_box_color{
                    background-color: #e9f1f6;
                    border-radius: 10px;
                    height: 300px;

                    .service_text_box{
                        padding: 0 20px 20px 20px;
                        line-height: 25px;

                        .service-text-title{
                            font-size: 22px;
                            font-weight: 600;
                        }
                        .service_text{
                            color: $color-grey;
                        }
                    }
                }
            }
        }
    }

    .icon_three{
        display: none;
    }
    .topbar_three{
        background-color: #1d2a7a;

        .menu-icon-hit, .icon{
            display: none;
        }

        .menu_ul{
            list-style: none;
            display: flex;
            padding-left: 50px;
        

            .menu_li{
                padding: $p-sm;
                text-align: center;
                display: inline-block;

                .menu_a{
                    text-decoration: none;
                    color: $color-white;
                    padding-right: $p-sm;
                    font-weight: 600;
                    font-size: $font-20;
                }
                .menu_icon{
                    border-right: none;
                }
            }
        }
    }
    .header_wallpaper{
        position: relative;

         .wall_img{
            width: 100%;
        }

        .header_containt{
            position: absolute;
            top: 110px;
            left: 10%;

            .header_row1{
                font-family: "Playfair Display", sans-serif;
                font-size: $font-25;
                line-height: 60px;
                display: block;
                color: #1d2a7a;
            }
            .header_row2{
                font-size: 50px;
                line-height: 60px;
                font-weight: 700;
                color: #1d2a7a;
            }
            .wall_btn{
                margin-top: 50px;
               
                .wall_btn_a{
                    background-color: $color-skyblue;
                    color: $color-white;
                    text-decoration: none;
                    padding: 15px 35px;
                    font-size: $font-20;
                    border-radius: 5px;
                }
                .wall_btn_a:hover{
                    background-color: #1d2a7a;
                } 
            }
        }
    }
    .about_four{
        padding: 100px 0;

            .row{
                justify-content: space-between;
                display: flex;
                margin: 0 120px;

                .col_6{
                    width: 50%;
                
                    .about_four_contant{
                        padding-right: 80px;

                        .about_four_title{
                            color: $color-barkblue;
                            font-weight: 600;
                            font-size: $font-30;
                            margin-bottom: $m-sm;
                        }
                        .about_four_text{
                            margin: $m-0;
                            font-size: $font-15;
                            line-height: $lh-lg;
                            color: $gray-color;

                            .b, strong{
                                font-weight: bolder;
                            }
                        }
                        .about_four_sub_title{
                            color: $color-barkblue;
                            font-size: $font-20;
                            margin-top: 45px;
                            margin-bottom: $m-nrml;
                        }
                    }
                    .about_four_image{
                        width: 100%;
                    }
                }
            }
        }


    .services{
        background-color: #E9F1F6;
        padding: 100px 0;

        .container{
            margin: 0 120px;

            .service_row{
                display: flex;
                justify-content: space-between;

                .col_10{
                    width: 85%;

                    .service_title{
                        text-align: left;

                        .service_title_h2{
                            margin: $m-0;
                            color: $color-barkblue;
                            font-size: $font-30;
                            line-height: 47px;
                            font-weight: 600;
                        }
                    }
                }
                .col_2{
                    width: 15%;

                    .carousel_btn{
                        display: flex;
                        justify-content: flex-end;

                        .carousel_btn_left{  
                            width: 44px;
                            height: 44px;
                            border: 2px solid #a8b3b9;
                            text-align: center;
                            padding-top: 5px;

                            .fa-solid{
                                color: $color-black;
                                font-size: $font-20;
                            }
                        }
                        .carousel_btn_right{  
                            width: 44px;
                            height: 44px;
                            border: 2px solid #a8b3b9;
                            text-align: center;
                            margin-left: $m-sm;
                            padding-top: 5px;

                            .fa-solid{
                                color: $color-black;
                                font-size: $font-20;
                            }
                        }
                    }
                }
            }
        }
    }

    .service_img{
        width: auto;

        .service_img_row{
            display: flex;
            width: 100%;

            .col_4{
                width: 25%;
                padding-top: 35px;
                padding-right: $p-lg;

                .col_4_color{
                    background-color: $color-white;

                    .service_img_box{
                        width: 100%;

                        .s_img{
                            width: 100%;
                            height: 190px;
                            object-fit: cover;
                        }
                    }

                    .service-img-box_title{
                        text-align: center;
                        padding-top: $p-lg;
                        padding-bottom: 40px;
                    }
                }
            }
        }

        .service_footer{
            padding-top: 100px;

            .service_more_btn{
                text-align: center;

                .service_more_btn_a{
                    color: black;
                    font-size: 22px;
                    text-decoration: none;
                    border-bottom: 1px solid $color-black;
                }

                .service_more_btn_a:hover{
                    color: rgb(209, 46, 46);
                    border-bottom: 1px solid rgb(209, 46, 46);
                }
            }
        }
    }


    .review_bar{
        position: relative;

        .review_bar_row{
            display: flex;
            width: 100%;

            .col_6{
                width: 50%;

                .review_bar_title{
                    padding: 100px 50px;
                    background-color: $color-skyblue;

                    .review_title{
                        color: $color-white;
                        font-size: $font-30;
                        font-weight: 700;
                        line-height: 40px;
                    }
                }
                .review_video{
                    width: 100%;
                }
            }
        }
    }

    .appoinment{
        background-color: #eff3f9;

        .container{
            margin: 0 100px;

            .container_box{
                position: relative;
                top: -200px;
                background-color: $color-white;
                border-radius: 10px;
                padding: 50px;
                box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.2);

                .row{
                    display: flex;
                    width: 100%;

                    .col_5{
                        width: 45%;
                        line-height: $lh-lg;

                        .appoinment_title{
                            font-size: 34px;
                            line-height: 48px;
                            font-weight: 600;
                        }
                        .appoinment_text{
                            font-size: $font-20;
                            line-height: $lh-lg;
                            color: $color-grey;
                            margin-top: $m-sm;
                        }
                    }

                    .col_7{
                        width: 70%;
                        line-height: 30px;
                    
                        .appoinment_form{
                            display: flex;
                            flex-wrap: wrap;
                            background-color: #ebeced;
                            padding: $p-lg $p-mid;
                            border-radius: 10px;
                            justify-content: space-around;

                            .input_box{
                                width: 50%;
                                text-align: center;

                                .form_input{
                                    font-size: 20px;
                                    border: 1px solid #ebeced;
                                    margin-bottom: 10px;
                                    color: #A1A1A1;
                                    border-radius: 5px;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    padding-left: 5px;
                                }
                            }

                            .submit_btn{
                                width: 50%;
                                margin-left: $m-sm;
                                text-align: center;

                                .form_submit_btn{
                                    background-color: #eb4343;
                                    border: none;
                                    color: $color-white;
                                    padding: 10px 25px;
                                    font-size: $p-sm;
                                    margin-top: 10px;
                                    border-radius: 5px;
                                }

                                .form_submit_btn:hover{
                                    background-color: #1d2a7a;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .about_surgery{

        .surgery_row{
            display: flex;
            background-color: #f7f8f9;
            padding: 0 150px;

            .col_6{
                width: 50%;

                .surgery_title{
                    padding-top: 100px;
                    padding-bottom: 50px;
                    padding-right: 35px;

                    .title{
                        font-size: $font-30;
                        line-height: 48px;
                        font-weight: 600;
                        color: $color-barkblue;
                        margin-bottom: $m-sm;
                    }

                    .about_text{
                        font-size: $font-15;
                        line-height: $lh-lg;
                        color: $color-grey;
                        padding-bottom: $p-lg;
                    }

                    .about_text_list{
                        display: flex;
                        width: 100%;

                        .col_6{
                            width: 50%;

                            .about_text_ul{
                                list-style: none;
                                margin-top: 25px;

                                .about_text_li{
                                    font-size: $font-15;
                                    color: $color-grey;
                                }
                            }
                        }
                    }
                }
            }

            .col_6{
                width: 50%;
                
                .surgery_right{
                    position: absolute;
                    padding-top: 100px;
                    padding-bottom: 50px;


                    .surgery_img{
                        background-image: url(images/dotted-background.png);
                        width: 100%;
                        height: 380px;
                        position: relative;
                        padding-left: 50px;

                        .surgery_img2{
                            position: relative;
                            width: 100%;
                            top: 35px;
                            left: -16px;

                            .img2{
                                width: 350px;
                                border-radius: 100%;
                                height: 335px;
                            }
                        }

                        .surgery_img3{
                            position: relative;
                            width: 100%;
                            top: -200px;
                            left: 225px;

                            .img3{
                                width: 280px;
                                height: 254px;
                                border: 10px solid $color-white;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }
        }
    }


    .about_five{
        background-color: #eff3f9;

        .main{
            padding: 80px 100px;

            .five_title{
                margin: 40px auto;
                padding-left: $p-mid;

                .about_five_title{
                    font-size: $font-25;
                    color: #1d2a7a;
                    font-weight: 700;
                }
            }

            .row{
                display: flex;
                width: 100%;

                .row_box{
                    width: 33%;

                    .row_box_in{
                        padding-right: $p-sm;
                        padding-left: $p-mid;

                        .row_box_img{
                            padding-bottom: $p-lg;

                            .box_img{
                                width: 100%;
                                height: 240px;
                                object-fit: cover;
                            }
                        }

                        .box_text{
                            padding: $p-nrml 0;

                            .bold_text{
                                font-weight: bold;
                                font-size: $font-20;
                                line-height: $lh-lg;
                                padding-bottom: $p-nrml;
                            }

                            .bold_text:hover{
                                color: #eb4343;
                            }

                            .nor_text{
                                font-size: $font-15;
                                line-height: $lh-lg;
                                color: $color-grey;
                                margin-top: $m-nrml;
                                margin-bottom: $m-nrml;
                            }

                            .read_btn{
                                text-decoration: none;
                                color: #eb4343;
                                border-bottom: 1px solid #eb4343;
                                font-size: $font-20;
                            }

                            .read_btn:hover{
                                color: #1d2a7a;
                                border-bottom: 1px solid #1d2a7a;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer_1{
        padding: 50px 0;
        background-color: $color-skyblue;
        text-align: center;

        .footer_up{


            .footer_up_title{
                color: $color-white;
                font-size: $font-30;
                font-weight: 300;

                .footer_a{
                    font-size: $font-30;
                    text-decoration: none;
                    color: $color-white;
                    font-weight: bold;
                }
                .a_underline{
                    border-bottom: 1px solid $color-white;
                }

                .footer_a:hover{
                    color: #eb4343;
                }
                .a_underline:hover{
                    border-bottom: 1px solid #eb4343;
                }
            }
        }
    }


    .lfooter{
        background-color: #181E44;

        .footer_down{
            display: flex;
            width: 100%;
            padding: 50px 100px;

            .col_3{
                width: 30%;
                padding-right: $p-mid;
                padding-left: $p-mid;

                .topbar_two_col-4{
                    text-decoration: none;

                    .logo_heading{
                        line-height: $lh-xlg;
                        padding-bottom: $p-sm;

                        .logo_h{
                            color: #1d2a7a;
                            font-size: $font-25;
                            font-weight: 600;
                        }

                        .color_grey{
                            color: $color-grey;
                            font-size: $font-15;
                        }
                    }
                }

                .footer_text{
                    color: $gray-color;
                    padding-right: $p-lg;
                }

                .footer_h3{
                    color: $color-white;
                    font-size: $font-25;
                    padding-bottom: 25px;
                }

                .footer_ul{
                    list-style: none;
                    line-height: $lh-xlg;

                    .footer_li{
                        color: $gray-color;
                        margin-bottom: $m-nrml;

                        .fa-brands{
                            padding-right: $p-nrml;
                        }

                        .fa-regular{
                            padding-right: $p-nrml;
                        }
                    }

                    .footer_li:hover{
                        color: #eb4343;
                    }

                    .li_whatsapp{
                        background-color: green;
                        margin-right: 70px;
                        text-align: center;
                        font-weight: 800;
                        font-size: $font-20;
                        padding: 5px 0;
                        border-radius: 5px;
                    }

                    .li_facebook{
                        background-color: rgb(25, 25, 240);
                        margin-right: 70px;
                        text-align: center;
                        font-weight: 800;
                        font-size: $font-20;
                        padding: 5px 0;
                        border-radius: 5px;
                    }

                    .li_twitter{
                        background-color: rgb(66, 66, 255);
                        margin-right: 70px;
                        text-align: center;
                        font-weight: 800;
                        font-size: $font-20;
                        padding: 5px 0;
                        border-radius: 5px;
                    }

                    .li_inked{
                        background-color: rgb(17, 17, 255);
                        margin-right: 70px;
                        text-align: center;
                        font-weight: 800;
                        font-size: $font-20;
                        padding: 5px 0;
                        border-radius: 5px;
                    }

                    .li_email{
                        background-color: rgb(92, 88, 88);
                        margin-right: 70px;
                        text-align: center;
                        font-weight: 800;
                        font-size: $font-20;
                        padding: 5px 0;
                        border-radius: 5px;
                    }
                }
                .social_icon{
                    margin-top: $m-lg;

                    .icon_a{
                        border: 1px solid $color-grey;
                        border-radius: 100%;
                        padding: $p-nrml $p-mid;
                        margin-right: $m-mid;

                        .fa-brands{
                            color: $color-grey;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 415px){
    .topbar_up{
        padding: 5px 0;
        display: inline-block !important;

        .topbar_left_text{
            padding: 5px !important;
            text-align: center;
        }
        .topbar_right_text{
            padding: 5px; 
            justify-content: center;

            .topbar_right_last_text{
                font-size: 20px !important;
                margin: 10px !important;
                padding: 5px 10px !important;
            }
        
            .social{
                padding-right: 0px !important;
                text-align: center;
                display: flex;
            }
        }
    }
    .topbar_down{
        display: block !important;
    }
    .menu_ul{
        display: block !important;
    }
    .header_containt{
        top: 5px !important;
        left: 10px !important;

        .header_row1{
            font-size: $font-15 !important;
            line-height: 10px !important;
        }
        .header_row2{
            font-size: $font-20 !important;
            line-height: $lh-xlg !important;
        }
        .wall_btn{
            margin-top: 5px !important;

            .wall_btn_a{
                padding: 5px 10px !important;
                font-size: $font-15 !important;
            }
        }
    }
    .row{
        display: block !important;
        margin: 0px !important;
        padding: 20px !important;

        .col_6{
            width: 100% !important;

            .about_four_contant{
                padding-right: 0px !important;
            }
        }
    }
    .container{
        margin: 0px !important;
        padding: 20px !important;

        .service_row{
            display: block !important;

            .col_2{
                width: 100% !important;
                
                .carousel_btn{
                    justify-content: center !important;
                }
            }
        }
    }
    .service_img_row{
        display: block !important;
        
        .col_4{
            width: 100% !important;
            padding: 20px !important;
        }
    }
    .review_bar_row{
        display: block !important;

        .col_6{
            width: 100% !important;
        }
    }
    .appoinment_form{
        display: inline-block !important;
    }
    .container_box{
        padding: 0px !important;

        .col_5{
            width: 100% !important;
        }
        .col_7{
            width: 100% !important;

            .form_input{
                font-size: $font-15 !important;
            }
        }
    }
    .surgery_row{
        display: block !important;
        padding: 20px !important;

        .col_6{
            width: 100% !important;

            .surgery_right{
                position: inherit !important;

                .surgery_img{
                    padding: 10px !important;
                

                    .surgery_img3{
                        top: -120px !important;
                        left: 60px !important;
                    }
                }
            }
        }
    }
    .main{
        padding: 20px !important;

        .five_title{
            text-align: center;
            padding: 0px;
        }
        .row_box{
            width: 100% !important;
        }
    }
    .footer_up_title{
        line-height: 40px;
    }
    .footer_down{
        display: block !important;
        padding: 20px !important;

        .col_3{
            width: 100% !important;
            padding-bottom: 20px;
        }
    }
}


@media (max-width: 767px){
    .topbar_up{
        width: 100%;
        padding: 5px 0;
        display: inline-block !important;

        .topbar_left_text{
            padding: 5px !important;
            text-align: center;
        }
        .topbar_right_text{
            padding: 5px; 
            justify-content: center;
        
            .social{
                padding-right: 0px !important;
                text-align: center;
            }
        }
    }
    .topbar_down{
        display: block !important;

    }

    .icon_three{
        display: none !important;
    }
    #icon:checked ~ nav .tipbar_three_menu{
        display: block;
    }
    .menu-icon-hit{
        position: relative;
        right: -50px;
        top: 2px;
        display: block !important;
        color: white;
        padding: 15px;
    }
    .tipbar_three_menu{
        text-align: left;
        margin-top: 30px;
        display: none;    
        
        .menu_ul{
            display: block !important;
            padding-bottom: 20px;
        

            .menu_li{
                padding: 10px !important;
                display: block !important;
                text-align: initial !important;
                background: black;
                border-bottom: 1px solid gray;
                margin-right: 120px;

                .menu_a{
                    font-size: 15px !important;
                    padding: 0px !important;
                }
            }
        }
    }
    .header_containt{
        top: 30px !important;
        left: 60px !important;

        .header_row1{
            font-size: $font-20 !important;
            line-height: 15px !important;
        }
        .header_row2{
            font-size: $font-25 !important;
            line-height: 35px !important;
        }
        .wall_btn{
            margin-top: 15px !important;

            .wall_btn_a{
                padding: 10px 15px !important;
                font-size: $font-20 !important;
            }
        }
    }
    .row{
        margin: 0px !important;
        padding: 20px !important;

        .col_6{
            width: 100% !important;

            .about_four_contant{
                padding-right: 0px !important;
            }
        }
    }
    .container{
        margin: 0px !important;
        padding: 20px !important;

        .service_row{
            display: block !important;

            .col_2{
                width: 100% !important;
                
                .carousel_btn{
                    justify-content: center !important;
                }
            }
        }
    }
    .service_img_row{
        display: flex !important;
        flex-wrap: wrap;
        
        .col_4{
            width: 50% !important;
            padding: 20px !important;
        }
    }
    .review_bar_row{
        display: block !important;

        .col_6{
            width: 100% !important;

            .review_video{
                width: -moz-available;
            }
        }
    }
    .container_box{
        padding: 0px !important;

        .col_5{
            width: 100% !important;
        }
        .col_7{
            width: 100% !important;

            .col-6{
                width: 50% !important;
                align-items: center;
            

            .form_input{
                font-size: $font-15 !important;
            }
        }
        }
    }
    .surgery_row{
        display: block !important;
        padding: 20px !important;

        .col_6{
            width: 100% !important;

            .surgery_right{
                position: inherit !important;
                margin-left: 10px !important;

                .surgery_img{
                    padding: 10px !important;
                

                    .surgery_img3{
                        top: -120px !important;
                        left: 60px !important;
                    }
                }
            }
        }
    }
    .main{
        padding: 20px !important;

        .five_title{
            text-align: center;
            padding: 0px;
        }
        .row_box{
            width: 100% !important;
        }
    }
    .footer_up_title{
        line-height: 40px;
    }
    .footer_down{
        display: block !important;
        padding: 20px !important;

        .col_3{
            width: 100% !important;
            padding-bottom: 20px;
        }
    }

}

@media (max-width: 991px){
    .topbar_up{
        width: 100%;
        padding: 5px 0;
        display: inline-block !important;

        .topbar_left_text{
            padding: 5px !important;
            text-align: center;
        }
        .topbar_right_text{
            padding: 5px; 
            justify-content: center;
        
            .social{
                padding-right: 0px !important;
                text-align: center;
            }
        }
    }
    .topbar_down{
        display: block !important;

    }
    .menu_ul{
        display: flex !important;
    }
    .header_containt{
        top: 30px !important;
        left: 60px !important;

        .header_row1{
            font-size: $font-20 !important;
            line-height: 15px !important;
        }
        .header_row2{
            font-size: $font-25 !important;
            line-height: 35px !important;
        }
        .wall_btn{
            margin-top: 15px !important;

            .wall_btn_a{
                padding: 10px 15px !important;
                font-size: $font-20 !important;
            }
        }
    }
    .row{
        margin: 0px !important;
        padding: 20px !important;
        display: block !important;

        .col_6{
            width: 100% !important;

            .about_four_contant{
                padding-right: 0px !important;
            }
        }
    }
    .container{
        margin: 0px !important;
        padding: 20px !important;

        .service_row{
            display: block !important;

            .col_2{
                width: 100% !important;
                
                .carousel_btn{
                    justify-content: center !important;
                }
            }
        }
    }
    .service_img_row{
        display: flex !important;
        flex-wrap: wrap;
        
        .col_4{
            width: 50% !important;
            padding: 20px !important;
        }
    }
    .review_bar_row{
        display: block !important;

        .col_6{
            width: 100% !important;

            .review_video{
                width: -moz-available;
            }
        }
    }
    .container_box{
        padding: 0px !important;

        .col_5{
            width: 100% !important;
        }
        .col_7{
            width: 100% !important;

            .col-6{
                width: 50% !important;
                align-items: center;
            

            .form_input{
                font-size: $font-15 !important;
            }
        }
        }
    }
    .surgery_row{
        display: block !important;
        padding: 20px !important;

        .col_6{
            width: 100% !important;

            .surgery_right{
                position: inherit !important;
                margin-left: 150px;

                .surgery_img{
                    padding: 10px !important;
                

                    .surgery_img3{
                        top: -120px !important;
                        left: 60px !important;
                    }
                }
            }
        }
    }
    .main{
        padding: 20px !important;

        .five_title{
            text-align: center;
            padding: 0px;
        }
        .row_box{
            width: 100% !important;
        }
    }
    .footer_up_title{
        line-height: 40px;
    }
    .footer_down{
        display: block !important;
        padding: 20px !important;

        .col_3{
            width: 100% !important;
            padding-bottom: 20px;
        }
    }

}