
            body{
                background-color: rgb(248, 243, 243);
            }
            .menu{
                display: flex;
                background-color: rgb(250, 250, 250);
                opacity: 0.8;
                align-items: center;
            }
            .logo-padding{
                padding-left: 130px;
                padding-top: 20px;
                padding-bottom: 15px;
            }
            .i-fa{
                padding-right: 5px;
            }
            .menu-a{
                text-decoration: none;
                color: black;    
            }
            .logo-img{
                width: 140px;
                height: 80px;
            }
            .bgimage{
                background-image: url(back.jpg);
                background-repeat: no-repeat;
                height: 37pc;
                background-size: cover;
            }
            .bgimage-our{
                background-image: url(backi.jpg);
                background-repeat: no-repeat;
                height: 23pc;
                background-size: cover;
            }
            .nav{
                text-decoration: none;
                color: #000000;
                padding-right: 20px;
                padding-bottom: 30px;
                padding-top: 35px;
                padding-left: 20px;
            }
            .center{
                padding-left: 240px;
                display: flex;
                background-color: whitesmoke;
            }
            .head-h1{
                font-size: 60px;
            }
            .head-btn{
                font-size: 25px;
                padding: 10px;
                text-decoration: none;
                margin-top: 33px;
                background-color: black;
                border-radius: 10px;
                padding: 5px;
                color: white;
            }
            
            .leftmenu{
                 width: 100%;
            }
            .nav:hover{
            color: orange;
            }
            h2{
                margin-left: -4%;
                font-size: 30px;
                color: white;

            }
            .div-h1{
                margin-left: 28%;
                font-size: 30px;
                color: white;
            }
            .heading{
                padding-left: 215px;
                color: white;
                padding-top: 66px;
            }
            /* gallery  */

            .gallery-main{
                margin: 50px;
            }
            .gallery-h1{
                text-align: center;
            }
            .gellery{
                display: flex;
                width: 100%;
                margin: 30px;
            }
            .gallery-sec1{
                padding-bottom: 20px;
            }
            .gallry-img{
                width: 350px;
                height: 300px;
            }
            .margin-img{
                margin-right: 20px;
            }
        

            /* welcome section */

            .welcome{
                text-align: center;
            }
            .wel-center{
                width: 100%;
            }
            .party{
                background-color: white;
                width: 100%;
                margin-right: 25px;
                margin-top: 15px;
                border-radius: 40px;
                text-align: center;
            }
            .party-img{
                width: 90px;
                height: 75px;
            }
            .party-a{
                text-decoration: none;
                color: black;
            }
            .welcom-h1{
                text-align: center;
                font-size: 32px;
            }
            .section-wel{
                display: flex;
               padding-top: 5px;
               padding-left: 50px;
               padding-right: 50px;
               padding-bottom: 10px;
            }
            /*   about us */
            .aboutus{
                display: flex;
                padding-left: 65px;
                padding-top: 70px;
            }
            .about-img{
                width: 450px;
                height: 330px;
                border-radius: 15px;
                margin-left: 30px;
            }
            .aboutus-p{
               padding: 30px;
                font-size: 20px;
            }
            .about-h3{
                padding-right: 50px;
            }
            .facility-center{
                text-align: center;
            }
            .font-s{
                font-size: 25px;
            }
            .about-color{
                margin: 20px;
            }


            .reception-flex{
                display: flex;
            }
            .bot{
                color: black;
                text-decoration: none;
                border: 1px solid;
                padding-right: 10px;
            } 

            /* Restuarant */

            .rest-heading{
                text-align: center;
            }
            .rest-margin{
                margin-top: 200px;
                margin-bottom: 20px;
            }
            .rest-food{
                display: flex;
                font-size: 20px;
                
            }
            .indian-img{
                background-image: url(indian.jpeg);
            }
            .chinese-img{
                background-image: url(chinese.jpeg);
            }
            .south-img{
                background-image: url(south.jpeg);
            }
            .tand-img{
                background-image: url(tandoori.jpeg);
            }
            .food{
                background-size: cover;
                width: 82%;
                height: 280px;
                margin-left: 30px;
            }
            .food-flex{
                width: 100%;
                
            }
            .back-color{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.8);
                font-size: 30px;
                color: white;
            }
            .name-margin{
                padding-top: 210px;
            }



            .room{
                width: 225px;
                height: 140px;
            }
            .container{
                display: flex;
                padding-top: 10px;
                padding-left: 100px;
                padding-right: 100px;
                padding-bottom: 60px;
            }
            .coman{
                width: 100%;
                margin: 20px;
                background-color: white;
                padding: 2px;
            }
            .button{
                text-decoration: none;
                margin-top: 33px;
                background-color: black;
                border-radius: 10px;
                padding: 5px;
                color: white;
            }
            .hp{
                padding-left: 10px;
                padding-bottom: 10px;
            }
            a{
                color: white;
            }

        .flex{
            display: flex;
            background-color: black;
            width: 100%;
        }
        .ul{
            color: white;
            font-family: 'Montserrat', sans-serif;
             display: inline-block;
             list-style: none;
             font-size: 15px;
             font-weight: bold;
             line-height: 35px;
             margin-left: 50px;
        }
        .footer{
            width: 100%;
            padding-right: 1%;
            margin-right: 2%;
            display: flex;
        }
        .footer-a{
            text-decoration: none;
        }
        .banquet-img{
            background-image: url(banquet.jpeg);
        }
        .conference-img{
            background-image: url(confrence.jpeg);
        }
        .marrige-img{
            background-image: url(banquet.jpeg);
        }  
        .part-img{
            background-image: url(banq.jpeg);
        }     


        .hall-heading{
            text-align: center;
        }
        .hall-margin{
            margin-top: 200px;
            margin-bottom: 20px;
        }
        .our-hall{
            display: flex;
            font-size: 20px;
        }
        .halls{
            margin-bottom: 30px;
        }
        .hall{
            background-size: cover;
            width: 82%;
            height: 300px;
            margin-left: 30px;
        }
        .hall-flex{
            width: 100%;
            
        }
        .back-color{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.8);
            font-size: 30px;
            color: white;
        }
        .hall-margin{
            padding-top: 235px;
        }
        /*  book now */
        .form-col{
            margin-left: 35px;
            display: flex;
        }
        .form-h2{
            font-size: 30px;
            color: black;
            margin-left: 2%;
        }
        .name{
            margin-bottom: 15px;
        }
        .form-row{
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 15px;
            color: gray;
            background-color: white;
            border: 1px solid gray;
            border-radius: 4px;
        }
        .textarea{
            width: 430px;
            height: 110px;
        }
        .visit-h3{
            font-size: 30px;
            margin-bottom: -30px;
            margin-left: 2%;
        }
        .nav{
            font-family: 'Montserrat', sans-serif;
             display: inline-block;
             list-style: none;
             font-size: 15px;
             font-weight: bold;
             line-height: 35px;
            
        }