@keyframes img_slid {
    0% {
        left: 0px;
        top: 200px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes hover {
    0% {
        left: 0px;
        top: 50px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}
@keyframes alternate {
    0% {
        left: 20px;
        top: 20px;
    }

    25% {
        left: 150px;
        top: 50;
    }

    50% {
        left: 180px;
        top: 100px;
    }

    75% {
        left: 200px;
        top: 120px;
    }

    100% {
        left: 220px;
        top: 150px;
    }
}
@keyframes alternate-t {
    0% {
        right: 40px;
        top: 20px;
    }

    25% {
        right: 100px;
        top: 80;
    }

    50% {
        right: 150px;
        top: 120px;
    }

    75% {
        right: 180px;
        top: 150px;
    }

    100% {
        right: 200px;
        top: 180px;
    }
}

@keyframes alternate {
    0% {
        right: 20px;
        top: 20px;
    }

    25% {
        right: 150px;
        top: 50;
    }

    50% {
        right: 180px;
        top: 100px;
    }

    75% {
        right: 200px;
        top: 120px;
    }

    100% {
        right: 220px;
        top: 150px;
    }
}
@keyframes round {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes round-c {
    0% {
        transform: scaleY(0);
    }

    25% {
        transform: scaleY(30deg);
    }

    50% {
        transform: scaleY(90deg);
    }

    75% {
        transform: scaleY(180deg);
    }

    100% {
        transform: scaleY(0);
    }
}
@keyframes round-x {
    0% {
        transform: scaleX(0);
    }

    25% {
        transform: scaleX(.5);
    }

    50% {
        transform: scaleX(1);
    }

    75% {
        transform: scaleX(.5);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes bar {
    0% {
        left: 0%;
    }

    25% {
        left: 25%;
    }

    50% {
        left: 50%;
    }

    75% {
        left: 75%;
    }

    100% {
        left: 85%;
    }
}










* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    font-size: 14px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.justify {
    justify-content: space-around;

}

.logo_heading {
    text-decoration: none;
    color: black;
    font-size: 35px;
    padding-top: 15px;
    padding-left: 100px;
}

.logo_color {
    color: #28a745;
}

.menu_ul {
    list-style: none;
    display: flex;
}

.menu_li {
    list-style: none;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 25px;
}

.menu_a {
    text-decoration: none;
    font-family: poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #4a6f8a;
}

.menu_a:hover {
    color: #28a745;
}

.drop_menu {
    list-style: none;
    display: none;
    background-color: white;
    box-shadow: 1px 1px 1px 1px;
    padding: 15px;
}

#drop:hover~.drop_menu {
    display: block !important;
}

.active {
    color: #28a745;
}

.container {
    padding: 100px;
}

.col_6 {
    width: 50%;
}

.text_title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.text {
    color: #6084a4;
    line-height: 1.9;
    margin-bottom: 25px;
    font-size: 17px;
    margin-top: 10px;
}

.btn {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    color: #fff;
    background-color: #44ce6f;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(72, 69, 224, 0.1);
}

.btn:hover {
    background-color: #c679e3;
    transform: translateY(-10px);
}

.img {
    position: relative;
    animation-name: img_slid;
    animation-duration: 3s;
    animation-delay: 2s;
}

.col_6_img {
    width: 100%;
}

.col_3 {
    border: 1px dashed #cdf1d8;
    padding: 30px 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(72, 69, 224, 0.1);
    width: 23%;
    margin-bottom: 30px;
    margin-right: 20px;
}

.box_i {
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

#box-i1 {
    background: #cdf1d8;
    color: #44ce6f;
}

#box-i2 {
    color: #f78acb;
    background: rgba(247, 138, 203, 0.3);
}

#box-i3 {
    color: #c679e3;
    background: #edc3fc;
}

.box-i4 {
    background: rgba(235, 107, 61, 0.3);
    color: #eb6b3d;
}

.box_title {
    padding-bottom: 20px;
    padding-top: 10px;
}

.box_hover:hover {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
    animation-delay: 3s;
    animation-duration: 4s;
    color: white;
    transform: translateY(-10px);
}

.col_6_img {
    width: 100%;
}

.con_color {
    background-color: #eee;
}

.con_title {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 15px;
}

.option {
    color: #6084a4;
    line-height: 1.9;
    font-size: 17px;
    font-weight: 600;
}

.text_back {
    background-color: white;
    margin: 0 50px 20px 0;
    padding: 10px 15px;
    border-radius: 5px;
}

.text1_back {
    background-color: #eee;
    margin: 0 50px 20px 0;
    padding: 10px 15px;
    border-radius: 5px;
}

.text_back:hover {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
    animation-delay: 3s;
    animation-duration: 4s;
    transform: translateY(-10px);
}

.text1_back:hover {
    transform: translateY(-10px);
    animation-duration: 4s;
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
    animation-delay: 3s;
}

.option :hover {
    color: white;
}

.sec_title {
    margin: 0 auto;
    line-height: 37px;
    text-align: center;
    margin-bottom: 60px;
}

.s_title {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
}

.col-3 {
    text-align: center;
    line-height: 30px;
}

.num {
    color: #44ce6f;
    font-size: 32px;
    font-weight: 500;
}

.contact-box {
    border: 1px dashed #cdf1d8;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(72, 69, 224, 0.1);
    margin: 10px auto;
    width: 45%;
}

.cont_title {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.con-btn {
    margin-top: 20px;
}

.iframe_box {
    width: 30%;
    margin-right: 20px;
}

.iframe {
    width: 100%;
    height: 210px;
}

.logo_head {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.col_4 {
    width: 30%;
}

.footer-box {
    padding-left: 70px;

}

.footer-h {
    font-size: 18px;
    margin-bottom: 25px;
}

.footer-ul {
    list-style: none;
    color: #6084a4;
    line-height: 25px;
}

.col-12 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.foot-last {
    padding: 15px 0;
    border-top: 1px solid #d8ebfd;
}

.star {
    position: absolute;
    animation-name: alternate;
    left: 30px;
    font-size: 25px;
    color: lightslategray;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.star1 {
    position: absolute;
    animation-name: alternate;
    font-size: 25px;
    color: lightslategray;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.container {
    position: relative;
}

.plus {
    position: absolute;
    animation-name: round;
    font-size: 40px;
    right: 70px;
    color: rgb(40, 209, 130);
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.plus1 {
    position: absolute;
    animation-name: round;
    font-size: 40px;
    left: 68px;
    color: rgb(40, 209, 130);
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.hastag {
    position: absolute;
    animation-name: alternate;
    font-size: 25px;
    left: 500px;
    color: rgb(97, 211, 21);
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.circle {
    position: absolute;
    animation-name: alternate;
    font-size: 30px;
    left: 800px;
    top: 100px;
    color: rgb(248, 163, 234);
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sun {
    position: absolute;
    animation-name: alternate-t;
    font-size: 20px;
    right: 600px;
    top: 200px;
    color: rgb(201, 178, 207);
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.round {
    width: 70px;
    height: 70px;
    left: 30px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.6;
    animation-name: round-x;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    background: linear-gradient(180deg, #bd7a23 0%, #e7ce43 100%);
}


.progress {
    width: 100px;
    height: 8px;
    border-radius: 10px;
    background-color: #94e6ae;
    position: absolute;
}

.bar {
    width: 10px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    background-color: #44ce6f;
    top: -2px;
    animation-name: bar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.prog-bar {
    padding-bottom: 10px;
}

.bar-flex {
    display: flex;
    justify-content: center;
}

.back-img {
    background-image: url(image/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icon {
    display: none;
}

.icon_three {
    display: none;
}

@media (max-width: 392px) {
    .menu_ul {
        display: block !important;
    }

    .logo_heading {
        font-size: 20px !important;
        padding: 5px 0 !important;
    }


}

@media (max-width: 767px) {
    .container{
        padding: 20px !important;
    }
    .col_6{
        width: 100% !important;
    }
    .col_3{
        width: 100% !important;
    }
    .col-3{
        width: 50% !important;
    }
    .iframe_box{
        width: 100% !important;
        margin-bottom: 20px;
    }
    .text1_back{
        margin: 10px !important;
    }
    .con-btn{
        margin-top: 0px !important;
        margin-bottom: 10px;
    }
    .col_4{
        width: 100% !important;
    }
    .footer-box{
        padding: 0px !important;
        margin-bottom: 30px;
    }
    .text_title{
        font-size: 25px;
    }
    .plus{
        right: 5px;
    }
    .plus1{
        left: 5px;
    }
    .round{
        width: 40px !important;
        height: 40px !important;
        left: 5px !important;
    }
    .img{
        margin-top: 50px;
    }
    .icon_three {
        display: none !important;
    }

    #icon:checked~nav .menu_bar {
        display: block;
        text-align: end;
    }

    .menu_bar {
        text-align: left;
        margin-top: 30px;
        display: none;
    }

    .menu_li {
        padding: 10px 0 !important;
        border-bottom: 1px solid #6084a4;
    }

    .menu-icon-hit {
        display: inline-block !important;
        color: black;
        padding: 12px !important;
        text-align: end;
        font-size: 25px !important;
    }

    .menu_ul {
        display: block !important;
    }
    .contact-box{
        width: 100% !important;
        text-align: center;
    }
    .cont_title{
        font-size: 18px;
    }
    .text{
        font-size: 15px;
        
    }
}

@media (max-width: 991px) {
    .head{
        padding: 15px;
        margin-left: 15px;
        border-bottom: 1px solid #d3d5d7;;
    }
    .container{
        padding: 20px !important;
    }
    
    .logo_heading {
        font-size: 25px !important;
        padding: 5px 0 !important;
    }
    .justify{
        justify-content: space-between;
    }
    
    .col_6{
        width: 100% !;
    }
    .col_3{
        margin: 10px !important;
    }
    .box_hover{
        width: 47%;
    }
    .col-3{
        width: 50% !important;
    }
    .iframe_box{
        width: 100% !important;
        margin-bottom: 20px;
    }
    .text1_back{
        margin: 10px !important;
    }
    .con-btn{
        margin-top: 0px !important;
        margin-bottom: 10px;
    }
    .col_4{
        width: 100% !important;
    }
    .col_12{
        width: 50% !important;
    }
    .footer-box{
        padding: 0px !important;
        margin-bottom: 30px;
    }
    .text_title{
        font-size: 25px;
    }
    .plus{
        right: 5px;
    }
    .plus1{
        left: 5px;
    }
    .round{
        width: 40px !important;
        height: 40px !important;
        left: 5px !important;
    }
    .img{
        margin-top: 50px;
    }
    .icon_three {
        display: none !important;
    }

    #icon:checked~nav .menu_bar {
        display: block;
        text-align: end;
    }

    .menu_bar {
        text-align: left;
        margin-top: 30px;
        display: none;
    }

    .menu_li {
        padding: 10px 0 !important;
        border-bottom: 1px solid #6084a4;
    }

    .menu-icon-hit {
        display: inline-block !important;
        color: black;
        text-align: end;
        font-size: 30px;
       
    }

    .menu_ul {
        display: block !important;
    }
    
}