.width{
    width: 100px;
}
.sys-navbar{
    word-spacing: -2px;
    letter-spacing: 1.3px;
}
.sys-elevation-v3{
    border-radius: 10px;
    height: 300px;
}
input{
    width: 70%;
    padding: 7px;
    border-radius: 4px;
    outline: none;
    border: 1px solid lightslategray;
}
.sys-light{
    border: none;
    background-color: white;
    color: blue;
    text-decoration: underline;

}
.mr-4{
    margin-right: 40px;
}
.lg{
    height: 625px !important;
}
section{
    display: none;
}
