@use './color/color';
@use 'sass:map';
$color : (
    "white": color.$color-white,
    "black": color.$color-black,
    "green": color.$color-green,
    "coffee":color.$color-coffee,
    "bg":color.$color-bg,
);

$bg-color : (
    "bg-white": color.$color-white,
);

*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-md-2{
    width: 16.7%;
}
.col-md-8{
    width: 66.6%;
}
.col-md-4{
    width: 30%;
}
.col-md-5{
    width: 25%;
}
.col-md-6{
    width: 50%;
}
.col-md-12{
    width: 100%;
}

ul{
    list-style: none;
    li{
        display: inline-block;
        a{
            text-decoration: none;
        }
    }
}
header{
    z-index: 99999;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 12%);
   position: sticky;
   top: 0;
    background-color: map.get($color, "white");
    height: 72px;
    ul{
        li{
            a{
                text-decoration: none;
                color: map.get($color,"black");
                margin-left: 15px;
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
    .head-img{
        width: 35%;
    }
}
.header-wrap li>a:hover{
    color: map.get($color,"green");
    border-bottom: 2px solid transparent;
}
.dropdown-menu{
    position: relative;
    .menu-1, .menu-2, .menu-3{
        background-color: map-get($color , "white" );
        text-align: center;
        box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
        margin-top: 10px;
        border: 1px solid #d5d5d5;
        border-radius: 6px;
        top: 52px;
        display: none;
        width: 276px;
        padding: 16px 0;
        position: absolute;
        li{
            display: block;
            margin: 10px;
        }
    }
    .menu-2, .menu-1, .menu-3{
        top: 25px;
        left: -64px;
    }
    .menu-2 , .menu-3{
        display: none; 
    }
    .menu-1::before, .menu-2:before, .menu-3:before{
        content: "";
        width: 20px;
        height: 20px;
        background-color: map-get($color , "white" );
        position: absolute;
        transform: rotate(45deg);
        top: -10px;
        right: 141px;
    }
}
.dropdown-menu:hover .menu-1{
    display: block;
}
#drop-menu01:hover .menu-2{
    display: block;

}
#drop-menu02:hover .menu-3{
    display: block;
    
}
.dropdown-menu:hover .drop{
    transform: rotateX(165deg);
}
section bg{
    margin-top: 25px;
    background-image: url(../img/Homepage-banner_Day-made-1-2048x1148.webp);
}
section{
   
    background-position: center;
    background-size: cover;
    .col-md-6{
        width: 100%;
        h1{
            margin: 60px 0px;
            font-size: 4rem;
            font-weight: 600;
            color: map.get($color,"white");
            letter-spacing: -3px;
        }
        a{
            text-decoration: none;
            color: map.get($color,"white");
            padding: 16px 64px;
            font-size: 0.875rem;
            border-radius: 4px;
            margin-bottom: 60px;
            display: inline-block;
         background-color: map.get($color,"green");
        }
    }
}
article{
    margin: 70px;
    .wrapper{
        padding: 145px 0;
        h1{
            font-size: 3.5rem;
        }
        p{
            line-height: 1.6;
            margin: 14px;
        }
        a{
            color: map.get($color,"black");
        }
    }
}
.card{
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 8px 0 0 8px;
    width: 80%;
    margin: 0 auto;
}
.card-details{
    padding: 56px;
    h1{
        font-size: 2rem;
       margin-bottom: 46.6px;
    }
    a{
        font-size: 1.25rem;
        padding: 56px;
        color: map.get($color,"black");
    }
}
.grid-wrap{
    img{
        width: 97%;
        height: 500px;
    }
}
.grid-details{
    padding: 16px;
    h1{
        font-size: 2rem;
        margin: 15px 0px;
    }
    a{
        color: map.get($color,"black");
    }
}
.grid-system{
    margin-top: 112px;
}
.img-2{
    height: 350px;
}
.title-content{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    .underline{
        background-color: map.get($color,"green"); 
        width: 48px;
         height: 5px;
       margin: 24px auto;
    }
    h1{
        font-size: 2rem;
        margin-top: 17px;
    }
}
.slot{
    display: block;
    background-color: map.get($color,"white"); 
    border-radius: 16px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 12%);
}
.underline01{
    background-color: map.get($color,"green"); 
        width: 24px;
        height: 3px;
        margin: 20px 0;
        margin-left: 25px;
    }
.title-img{
    img{
        object-fit: cover;
        width: 100%;
        overflow-x: hidden;border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        height: 175px;
        object-fit: cover;
    }
}
.title-details{
    h1{
        margin-left: 25px;
        padding-bottom: 30px;
    }
}
footer{
    text-decoration: none;
    padding-top: 20px;
    background-color: map.get($color,"green"); 
    color: map.get($color,"white"); 
    .blankline{
        background-color: map.get($color,"white"); 
            width: 40px;
            height: 4px;
            margin-left: 25px;
        }
}
.footer-details{
    margin: 17px;
    ul{
        li{
            margin-bottom: 30px;
            a{
                color:map.get($color,"white");
                margin: 25px;
            }
        }
    }
}
.footer-title{
    margin: 10px;
    .size{
        font-size: 2rem;
        padding: 16px;
    }
}
.center{
    justify-content: center;
}
.align-start{
    align-items: flex-start;
}
//page 01 css start//
.bg-img{
    background-image: url(../img/page-01-sec0img.webp);
    width: 100%;
}
section{
    text-align: center;
    height: 28rem;
    h5{
        color:map-get($color , "coffee" );
        font-size: 1.1rem;
        font-weight: 600;
        padding-top: 123px;
    }
    h1{
        font-size: 3rem;
        font-weight: 600;
        height: 28rem;
        padding-top: 15px;
        color:map-get($color , "white" );
    }
}
.bg-21{
    background-color : map-get($color 
    , "bg" );
}
.section-square{
    background-color: map-get($color, "green" );
    h2{
        font-size: 1.6rem;
        color: #f6eed8;
        padding-top: 44px;
    }
}

.product{
    margin: 10px;
    overflow-y: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    .product-img{
      
        position: relative;
        img{
            height: 287px;
            width: 99%;
        }
    }
    .bg-space{
        position: absolute;
        top: 0;
        height: 238px;
        width: 100%;
        background: #898f4b;
        border-radius: 0 0 50% 50%/0 0 25% 25%;
        z-index: -1;
        display: none;
    }
}
.product:hover .bg-space{
    display: block;
    transition: 0.3s ease-in;
}
.section-square{
    margin: 90px auto 70px;
}
.inner-square{
    max-width: 78rem;
    margin: 0 auto;
    min-height: 120px;
}