*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
section{
    background: pink;
}
.container{
    margin: 10px;
    background: rgb(122, 227, 237);
    border: 2px solid black;
    padding: 10px;
}
hr{
    margin: 20px;
}
.formgroup{
    margin-left: 20px;
    margin-top: 13px;
}

h1{
    text-align: center;
    margin-top: 15px;

}
input{
    padding: 10px;
    width: 70%;
    
}
.gander{
    width: 10%;
    display: inline-flex;
    margin: 10px;
    
}
.gander input{
    padding: 10px;
    margin-left: 10px;
    
}
.button{
    width: 70%;
    padding: 10px;
    background: rgb(23, 197, 23);
    color: #fff;
    border: none;
    font-size: medium;
    margin-top: 10px;
}

.bijesh{
    margin: 100px;
}
.box{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}


/* navbar styling */

/* .navbar{
    width: 100%;
    background: red;
}
.max-width{
    max-width: 1300px;
    padding: 15px 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .max-width .logo a{
    color: #fff;
    font-size: 22px;
    font-weight: 800;
}
.menu{
    display: flex;
    gap: 0px 50px;
}
.menu li{
    list-style: none;
    display: inline-block;
    font-size: 18px;
}
.menu li a{
   padding: 20px 0px;
   color: white; 
}
.menu */

.navbar{
    width: 100%;
    background: red;
}
.max-width{
    max-width: 1300px;
    padding: 15px 80px;
    margin: auto;

}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-width .logo a{
    color: white;
    font-size: 25px;
    font-weight: 800;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu{
    display: flex;
    gap: 0px 50px;

}
.menu li a{
    color: white;
    font-size: 15px;
    font-weight: 500;
}
