$col-md-8:66.64%;
$col-md-2:16.77%;
$col-md-3:25%;
$col-md-6:50%;
$col-md-4:33.333%;
$col-md-1:8.333;

.col-md-1{
    width: $col-md-1;
}
.col-md-2{
    width:$col-md-2;
}
.col-md-3{
    width:$col-md-3
}
.col-md-4{
    width:33.333;
}
.col-md-8{
    width:$col-md-8;
}