*{
    margin: 0;
    /* padding: 0; */
}
.row::after{
    content: "";
    clear: both;
    display: table;
} 
.logo{
    display: inline-block;
}

ul{
    list-style-type: none;
    text-align: center;
    /* display: inline-block; */
}
.col-md-6{
    width: 50%;
    float: left;
    
    
}
.block{
    text-align: center;
    border: 1px solid #fff;
    background: #000;
    color: aliceblue;

}
.col-md-3{
    width: 24.8%;
    float: left;
    border: 1px solid #fff;
    text-align: center;
    background-color: blue;
    color: #fff;
}
.col-md-8{
    background: #000;
    border: 1px solid white;
    color: white;
    text-align: center;
    width: 66.50%;
    float: left;
}
.col-md-4{
    background: #000;
    color: #fff;
    /* height: 4rem; */
    text-align: center;
    width: 33.00%;
    float: left;
    border: 1px solid white;
}
.col-md-1{
    width: 8.16%;
    float: left;
    border: 1px solid white;
    background-color: blue;
    text-align: center;
    color: #fff;
    
}
.col-md-12{
    width: 100%;
    text-align: center;
    background: #000;
    border: 1px solid black;
    color: #fff;
    /* height: ; */
}
.bjp{
    border: 1px solid #fff;
    padding: 8px;
    /* font-style: italic; */
    /* list-style: ; */
    
}
h1{
 border: 1px solid white;
 /* background-color: cyan; */
 display: inline-block;
 /* margin: 150px; */
 padding: 8px;

}