body{
    margin:0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.t-center{
    text-align: center;
}
table, thead, tbody{
    width: 100%;
}
tbody{
    text-align: center;
}
th, td{
    border:1px solid black;

}
table{
    border-collapse: collapse;
}
.color-primary{
    color: blue;
}
h1{
    font-size: 27px;
}
p{
    color:red;
}
thead{
    background-color: black;
    color: white;
    padding: 10px;
}
th,td{
    padding: 10px;
}
tbody{
    background-color: orange;
    color: white;
}