header , .hero-bg{
    background-color: #00a6ff;
}

header .nav-link{
    color:white;
}
.w-30{
    width:90%;
 
}
a{
    text-decoration: none;
}
.nav-facility a{
    color:rgb(4, 73, 99);
    font-size: 16px;
    font-weight: 500;
} 
    
.bg-img{
    background-image: url(images/bafna_website_Banner_13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:120px 0px;
    ;
}
.my-facility h1{
    font-weight: 700;
}
.my-facility p{
    font-size: 18px;
}
footer{
    background-image: url(images/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin-top:30px;
}
.style a{
    color:white;
}
.facility img{
    width:80px;
}
.facility p{
    color:white
}
.justify{
    text-align: justify;
    font-size: 17px;
}
.weight{
    font-weight:700;
}
.bg-map{
    background-color:rgb(15 15 91);
    padding: 100px;
    color:white;
}   
.inline-block{
    display:inline
}
.btnn{
    padding:5px;
   background-color: antiquewhite;
    border-radius: 4px;
   
   
}