* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.top {
  background-color: #000000;
  text-align: center;
}
.top .top-center {
  padding: 10px 0px 10px 0px;
  letter-spacing: 0.15em;
}
.top .top-center .a-top {
  text-decoration: none;
  font-size: 10px;
  color: #ffffff;
}

.head {
  display: flex;
  background-color: #E0F8EC;
  color: #000000;
  position: -webkit-sticky;
  position: sticky;
  opacity: 1;
}
.head .head-details {
  width: 30%;
  padding: 15px 20px 0px 50px;
  display: flex;
}
.head .head-details .detail-li {
  padding-right: 40px;
  list-style: none;
}
.head .head-details .detail-li .bar {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0.15em;
}
.head .head-details .detail-li .bar:hover {
  border-bottom: 1px solid #000000;
}

.logo-h {
  width: 40%;
  text-align: center;
}
.logo-h .logo-cont {
  padding-bottom: 5px;
  padding-top: 5px;
}
.logo-h .logo-cont .studio {
  font-size: 12px;
}
.logo-h .logo-cont .logo-p {
  font-size: 10px;
}

.head-last {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}
.head-last .head-icon {
  padding: 15px 25px 0px 10px;
}
.head-last .head-icon .icon-a {
  text-decoration: none;
  color: #000000;
}

.back-img {
  position: relative;
}
.back-img .back-img-c {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.back-img .img-heading {
  position: absolute;
  top: 300px;
  left: 37%;
  text-align: center;
  line-height: 33px;
}
.back-img .img-heading .sectionheader {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.15em;
  color: #ffffff;
}
.back-img .img-heading .sectionheader_con {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.15em;
  color: #ffffff;
}
.back-img .img-heading .coman {
  margin-top: 20px;
  display: inline-block;
}
.back-img .img-heading .coman .shop-btn {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ffffff;
}
.back-img .img-heading .coman .shop-btn:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.product-discription {
  display: flex;
  width: 100%;
}
.product-discription .product-section {
  margin: 10px;
  position: relative;
  padding-left: 30px;
}
.product-discription .product-section .product-image {
  width: 360px;
  height: 500px;
}
.product-discription .product-section .product-btn {
  position: absolute;
  bottom: 100px;
  left: 135px;
}
.product-discription .product-section .product-btn .shop-btn {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ffffff;
}
.product-discription .product-section .product-btn .shop-btn:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.featuretext {
  padding: 80px 0;
}
.featuretext .text-wrap {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}
.featuretext .text-wrap .text {
  max-width: 430px;
  margin: 0 auto;
  line-height: 25px;
}
.featuretext .text-wrap .text .text_heading {
  padding-bottom: 20px;
}
.featuretext .text-wrap .text .text-link-btn {
  padding-top: 20px;
}
.featuretext .text-wrap .text .text-link-btn .text-link {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
}
.featuretext .text-wrap .text .text-link-btn .text-link:hover {
  border-bottom: none;
}
.featuretext .text-wrap .text .text-link-btn .section_image {
  height: 65pc;
}

.icon_img {
  width: 100%;
}

.section_f_div {
  display: flex;
  margin: 20px;
}
.section_f_div .section_peragraph {
  display: inline-block;
  padding-top: 300px;
  line-height: 25px;
}
.section_f_div .section_peragraph .section_p {
  padding: 10px 0;
}
.section_f_div .section_peragraph .section_p_coco {
  padding-bottom: 30px;
  padding-top: 10px;
  font-size: 20px;
}
.section_f_div .section_peragraph .text-link-btn {
  margin-top: 15px;
}
.section_f_div .section_peragraph .text-link {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding-top: 10px;
}
.section_f_div .section_peragraph .text-link:hover {
  border-bottom: none;
}

.item_heading {
  text-align: center;
  padding-top: 50px;
}
.item_heading .section_p {
  padding: 10px 0;
}
.item_heading .section_p_coco {
  padding-bottom: 30px;
  padding-top: 10px;
  font-size: 20px;
}

.item_list {
  display: flex;
  width: 100%;
}
.item_list .item_list_row {
  margin: 20px;
}
.item_list .item_list_row .item_img {
  width: 275px;
  height: 375px;
}
.item_list .item_list_row .item_price_detail {
  line-height: 30px;
  font-size: 15px;
}
.item_list .item_list_row .item_price_detail .item_color {
  color: #797979;
}
.item_list .item_list_row .item_price_detail .bar {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0.15em;
}
.item_list .item_list_row .item_price_detail .bar:hover {
  border-bottom: 1px solid #000000;
}

.footer_list {
  background-color: #E0F8EC;
  padding: 20px;
}
.footer_list .footer_m_list {
  display: flex;
  width: 100%;
  margin-left: 50px;
}
.footer_list .footer_m_list .col_list {
  width: 20%;
  line-height: 30px;
}
.footer_list .footer_m_list .col_list .footer_ul_icon {
  display: flex;
}
.footer_list .footer_m_list .col_list .footer_li {
  list-style: none;
  color: #797979;
}
.footer_list .footer_m_list .col_list .footer_li .fa-brands {
  padding-right: 10px;
}/*# sourceMappingURL=style.css.map */