
$color-orange:#cc9600;
$color-lightorange: #fb0;
$color-red: #e71d36;
$color-white: white;
$color-black: black;
$color-lightgrey: #696969;
$color-grey: #666;
$color-ofwhite:#eee;

// bg-color//
$bg-orange:#cc9600;
$bg-lightorange: #fb0;
$bg-red: #e71d36;
$bg-lightgrey: #696969;
$bg-grey: #666;
$bg-ofwhite:#eee;

// text //
$text-orange:#cc9600;
$text-lightorange: #fb0;
$text-red: #e71d36;
$text-lightgrey: #696969;
$text-grey: #666;
$text-ofwhite:#eee;
//button
