
*{
    margin: 0;
    padding: 0;
}
.container{
    width:90%;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
.text-right{
    text-align: right;
}
a{
    text-decoration: none;
}
header{
    padding: 20px;
    background-color: blue;
}
.color{
    color:white;
    font-size: 18px;
}
.col{
    width: 100%;
}

.grid{
    display:flex;
    align-items: center;

}

.mar-right{
    margin-right: 50px;
}
ul li  {
    display: inline-block;
}

article{
    background-color: blue;
}
.logo{
    width:80px;
}

nav{
    padding: 15px;
}
.img-width{
    width:100%;
}
.article-font{
    color:white; 
}
h1{
    font-size: 50px;
}
.margin-top{
    margin-top: 25px;
}
.btn{
    padding:10px;
    background-color: red;
    border-radius: 6px;
    color: white;
}
.space{
    margin-top: 22px;
}
.btn-2{
    padding:10px;
    background-color:#0d6efd;
    border-radius: 6px;
    color: white;
}
.hover-me:hover{
    background-color: orange;
    transition: 2s;
}




































