.grid{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
ul{
    list-style: none;
    padding-left: 0;
}
li{
    display:inline-block;
    margin: 10px;
}
a{
    text-decoration: none;
    color:black;

}

.width{
    width:100%;
}
body{
    margin:0;
}
.pad{
    padding: 10px;
    background: rgb(2, 52, 105);
    color: white!important;
}
.text-center{
    text-align: center;
}

i{
    color:blue; 
}
.img-width{
    width: 25%;
}

nav{
     background-color: rgb(40 15 96);
     color: #fff;
     padding: 5px;
}
.t-color{
    color:white;
}
.container{
        width: 90%;
        margin: 0 auto;
}
.width-center{
    width: 100%;
    margin-bottom: 5px;

}


  
