.grid{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
ul{
    list-style: none;
    padding-left: 0;
}
li{
    display:inline-block;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color:black;

}

.width{
    width:100%;
}
body{
    margin:0;
}
.pad{
    padding: 10px;
    background: rgb(2, 52, 105);
    color: white!important;
}
.text-center{
    text-align: center;
}

i{
    color:blue; 
}
.img-width{
    width: 25%;
}


nav{
     background-color: rgb(40 15 96);
     color: #fff;
     padding: 5px;
     position:sticky;
     top:0;
}
.t-color{
    color:white;
}
.container{
        width: 90%;
        margin: 0 auto;
}
.width-center{
    width: 100%;
    margin-bottom: 5px;

}
.bg-img{
    background-image: url(./images/Rainbow-hospital-gallery-2.jpeg);
    background-attachment: fixed;

}
.hero-content{
    padding: 154px 0px;
    text-align: center;
    color: white;
}
.hero-content > h1{
    font-size: 39px;
    letter-spacing: 11px;
}
.layer{
    background: #00000069;
}
.btn-color{
    background-color: #337ab7;
    padding: 10px 12px;
    border-radius: 4px;
    color: #fff;
}
ul{
    margin-top: 30px;
}
article{
    margin-top: 80px;
}
.text-center{
    text-align: center;
}
.font{
    font-size: 15px;
}
p{
    display: block;
}
.img-height{
    height: 500px!important;
}
. margin-t{
    margin-top: 30px;
}

