nav {
  position: sticky;
  top: 0;
  padding: 11px 40px;
  box-shadow: 1px 0px 20px 1px #eae5e5;
}
nav .dropdown ul {
  list-style-type: none;
  padding-left: 1px;
  padding-right: 3px;
}
nav .dropdown ul li {
  margin-right: 2.3rem;
}
nav .dropdown ul li a {
  text-decoration: none;
  color: black !important;
  font-size: 20px;
}

.border {
  border: 1px solid rgb(240, 228, 228);
}

.droplist {
  display: none;
  position: absolute;
  left: 90px;
  top: 64px;
  width: 244px;
  box-shadow: 1px 0px 20px 1px #eae5e5;
}

.trigger:hover .droplist {
  display: block;
}

.droplist li {
  margin-bottom: 10px;
}

.trigger a {
  padding: 28px 10px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
}

.header {
  padding: 15px 40px;
  box-shadow: 1px 0px 20px 1px #eae5e5;
}

.col-md-3 {
  width: 25%;
}

.col-md-7 {
  width: 58.33%;
}

.col-md-5 {
  width: 41.65%;
}

.col-md-10 {
  width: 83.33%;
}

.col-md-4 {
  width: 33.32%;
}

.col-md-6 {
  width: 50%;
}

.col-md-9 {
  width: 75%;
}

.col-md-2 {
  width: 16.66%;
}

.f-size {
  font-size: 18px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.facility {
  margin-top: 60px;
}

.col {
  width: 100%;
}

.c-red {
  color: red;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
}

.dropdown-menu1 li {
  margin-bottom: 10px;
}

.dropdown-menu2 li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.d-flex li {
  margin-right: 23px;
}

.dropdown img {
  width: 50px;
}

.trigger:hover .dropdown-menu1 {
  display: block;
}

.trigger a:hover {
  font-weight: 800;
}

.trigger:hover .dropdown-menu2 {
  display: block;
  position: absolute;
  left: 112px;
}

.dropdown-menu1 {
  width: 80%;
  margin: 0 auto;
  box-shadow: 1px 0px 20px 1px #eae5e5;
  display: none;
  position: absolute;
  margin-top: 25px;
  padding: 1rem;
  background-color: white;
}

.dropdown-menu1 a {
  padding: 0px 10px !important;
}

.dropdown-menu2 {
  width: 80%;
  margin: 0 auto;
  box-shadow: 1px 0px 20px 1px #eae5e5;
  display: none;
  position: absolute;
  margin-top: 25px;
  padding: 1rem;
  background-color: white;
}

.underline {
  border-bottom: 2px solid red;
  position: relative;
  top: 20px;
  display: none;
}

.trigger a {
  padding: 30px 10px;
}

.trigger:hover .underline {
  display: block;
}

.search {
  border: 1px solid gray;
  padding: 8px 30px;
  width: 60%;
}

.position {
  position: relative;
  left: 28px;
}

i {
  text-align: center;
}

.btn {
  background-color: white;
  border: 1px solid black;
  padding: 10px 15px;
  color: red;
}

.dropdown-menu-profile {
  display: none;
}

.trigger:hover .dropdown-menu-profile {
  display: block;
}

/* hero */
.hero > img {
  width: 100%;
}

.droplist {
  display: none;
  position: absolute;
  background: white;
  width: 200px;
  text-align: left;
  padding: 1px 10px;
}

.droplist a {
  padding: 0 !important;
}

.trigger:hover .droplist {
  display: block;
}

.w-100 {
  width: 100%;
}

article .height {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.spacing {
  padding: 10px;
}

.relative {
  position: relative;
}

#block img {
  width: 217px;
}

#block p {
  font-size: 13px;
}

#block i {
  color: green;
}

#block .product_rating_count {
  background: rgba(255, 255, 255, 0.631372549);
  width: 70px;
  position: absolute;
  bottom: 68px;
  margin-left: 7px;
  padding: 1px 5px;
  font-size: 12px;
  font-weight: 700;
}

#block .d-inline {
  display: inline;
}

#block ul > li {
  float: left;
  width: 25%;
  margin-top: 13px;
}

.border {
  border: 1px solid rgba(128, 128, 128, 0.1490196078);
}

.mt-5 {
  margin-top: 30px;
}

.mt-3 {
  margin-top: 10px;
}

.block1 ul > li {
  margin-top: 10px;
}

select {
  border: 1px solid rgba(128, 128, 128, 0.4509803922);
  padding: 4px 15px;
}

select:hover option {
  border-bottom: none;
  display: block;
}

.mt-2 {
  margin-top: 3px;
}/*# sourceMappingURL=style.css.map */