body{
    margin: 0%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.grid{
    display: flex;
    align-items: center;
}
.col{
    width: 100%;
}
.bg-img{
    background-image: url(https://media.istockphoto.com/photos/portrait-of-successful-young-asian-businesswomanat-office-colleagues-picture-id1159212661?b=1&k=20&m=1159212661&s=170667a&w=0&h=RCgyFgjIQR7Yy7WdPOhx3_kR9pg1NxdDQ1Q-9qKiUb4=);
    background-repeat: no-repeat;
    background-size: cover;
}
.clr{
    color:  white;
}
.sze{
    font-size: 108px;
}
.layer{
    background-color: #8a2be2a8;
    height: 100%;
}

.content{
    padding: 15px;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}
li{
    display: inline-block;
    margin-right: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.btn-light{
   background-color: #45c0ec;
}
.btn-dark{
    background-color: #4468b4;
}
.btn-light, .btn-dark{
    padding: 12px 40px;
    border-radius: 50px;
    box-shadow: 0px 3px 8px 7px #8080806b
}
input{
    width: 100%;
    padding:10px 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
}

.c_blk{
    color: black;
}
.w-auto{
    width: auto;
}
.text-right{
    text-align: right; padding-top:38px;
}
.btn-green{
    background-color:#adff30 ;
    padding: 20px 63px;
    border-radius: 45px;
    font-size: 15px;
    box-shadow:0px 3px 6px 7px #b8e67a;

}
.size-h{
    font-size: 45px;
}
